flows.json
[{"id":"194b9578.c4981b","type":"tab","label":"DB98","disabled":false,"info":""},{"id":"f1807591.7b9ea8","type":"s7 in","z":"194b9578.c4981b","endpoint":"27bd297b.5e4fc6","mode":"all","variable":"ShiftProductionVolume","diff":true,"name":"Shift production volume","x":144,"y":72,"wires":[["15b07cf9.19c9b3","2e42f6bc.ac697a"]]},{"id":"98278081.f9503","type":"s7 in","z":"194b9578.c4981b","endpoint":"61ee718c.6c0d3","mode":"all","variable":"","diff":true,"name":"Total Production Volume","x":150,"y":260,"wires":[["9a691e30.62e01","18b1d749.549659"]]},{"id":"15b07cf9.19c9b3","type":"debug","z":"194b9578.c4981b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":314,"y":132,"wires":[]},{"id":"9a691e30.62e01","type":"debug","z":"194b9578.c4981b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":309,"y":197,"wires":[]},{"id":"9a70d82b.b98988","type":"s7 in","z":"194b9578.c4981b","endpoint":"7839fe7d.5cd17","mode":"all-split","variable":"","diff":true,"name":"Defaults","x":100,"y":400,"wires":[["92c5dba5.b22cd8"]]},{"id":"fc3d43fd.106df","type":"debug","z":"194b9578.c4981b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":440,"wires":[]},{"id":"41d4284b.035958","type":"debug","z":"194b9578.c4981b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":549,"y":257,"wires":[]},{"id":"4b2567ee.4d8008","type":"debug","z":"194b9578.c4981b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":554,"y":72,"wires":[]},{"id":"282b73f3.ea301c","type":"file","z":"194b9578.c4981b","name":"shift","filename":"C:\\Users\\Atelier\\Documents\\shift.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":536,"y":22,"wires":[[]]},{"id":"a10dc027.a2699","type":"file","z":"194b9578.c4981b","name":"total","filename":"C:\\Users\\Atelier\\Documents\\total","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":530,"y":310,"wires":[[]]},{"id":"e16a42d0.b8013","type":"file","z":"194b9578.c4981b","name":"defaut","filename":"C:\\Users\\Atelier\\Documents\\defaut.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":491,"y":391,"wires":[[]]},{"id":"92c5dba5.b22cd8","type":"function","z":"194b9578.c4981b","name":"defaut","func":"var payload = msg.payload;\nvar topic = msg.topic;\nvar time = new Date();\ntime = time.getTime()+time.getTimezoneOffset(60);\nvar date = time.toJSON().slice(0,19).replace('T', ' ');\nvar Query;\n\nQuery = \"INSERT INTO Defauts(Heure, Nom, Etat) VALUES ('\"+date+\"','\"+topic+\"','\"+payload+\"');\";\nmsg.payload = Query;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["e16a42d0.b8013","fc3d43fd.106df"]]},{"id":"2e42f6bc.ac697a","type":"function","z":"194b9578.c4981b","name":"convert shift","func":"var value = msg.payload;\nvar Query;\nvar time = new Date();\ntime = time.getTime()+time.getTimezoneOffset(60);\nvar date = time.toJSON().slice(0,19).replace('T', ' ');\nvar valreturn;\nvar oldrecipe = context.get('values');\nvar BitOk = oldrepice.recette;\n\nif(BitOk != value.recette){\n    context.set('bitok', value.recette);\n    valreturn = context.get('values');\n    Query = \"INSERT INTO shift(Heure, Recette, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date+\"','\"+valreturn.recette+\"','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n    msg.payload = Query;\n    context.set('values',value);\n    return msg;\n}else{\ncontext.set('values',value);\n}","outputs":1,"noerr":0,"x":348,"y":72,"wires":[["282b73f3.ea301c","4b2567ee.4d8008"]]},{"id":"18b1d749.549659","type":"function","z":"194b9578.c4981b","name":"convert total","func":"var value = msg.payload;\nvar Query;\nvar trigger = value.placage;\nvar valreturn;\nvar time = new Date();\ntime = time.getTime()+time.getTimezoneOffset(60);\nvar date = time.toJSON().slice(0,19).replace('T', ' ');\nvar heure = new Date();\nvar Matin = new Date();\nMatin.setHours(5,0,0);\nvar Aprem = new Date();\nAprem.setHours(13,0,0);\nvar Nuit = new Date();\nNuit.setHours(21,0,0);\n\nif(trigger !== 0){\n    context.set('values',value);\n}else{\n    valreturn = context.get(\"values\");\n    if(date >= Matin){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date+\"','Nuit','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }else if(date >= Aprem){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date+\"','Matin','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }else if(date >= Nuit){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date+\"','Aprem','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["41d4284b.035958","a10dc027.a2699"]]},{"id":"95725147.6d654","type":"s7 in","z":"194b9578.c4981b","endpoint":"1059c414.0c345c","mode":"single","variable":"plis","diff":true,"name":"placage/heure","x":110,"y":640,"wires":[["e1e6b64b.2bdba8"]]},{"id":"6cd8b7c2.ca1558","type":"s7 in","z":"194b9578.c4981b","endpoint":"296f2282.f4ea8e","mode":"single","variable":"placage_min","diff":true,"name":"placage/minute","x":120,"y":560,"wires":[["a8b882a2.7b795"]]},{"id":"a8b882a2.7b795","type":"function","z":"194b9578.c4981b","name":"query placage/min","func":"var value = msg.payload;\nvar Query;\n\nQuery = \"INSERT INTO Moyenne_minute(plis) VALUES ('\"+value.placage_min+\"');\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["35f620fa.1a6ae"]]},{"id":"e1e6b64b.2bdba8","type":"function","z":"194b9578.c4981b","name":"query placage/heure","func":"var value = msg.payload;\nvar date = new Date().toJSON().slice(0,19).replace('T', ' ');\nvar Query;\n\nQuery = \"INSERT INTO Moyenne_heure(plis, Heure) VALUES ('\"+value.plis+\"','\"+date+\"');\";\nmsg.payload = Query;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":640,"wires":[["b0ed84ca.4a0368"]]},{"id":"35f620fa.1a6ae","type":"debug","z":"194b9578.c4981b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":572,"y":558,"wires":[]},{"id":"b0ed84ca.4a0368","type":"debug","z":"194b9578.c4981b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":538,"y":639,"wires":[]},{"id":"4106aa88.4048f4","type":"s7 out","z":"194b9578.c4981b","endpoint":"385a34ad.c4cc4c","variable":"panneau","name":"Reset panneau","x":420,"y":700,"wires":[]},{"id":"2a8455ec.a969aa","type":"inject","z":"194b9578.c4981b","name":"Nuit","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 05 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":130,"y":760,"wires":[["4106aa88.4048f4","5dd6f60a.63ac88","d6ef6857.5d9b68","576b4fb9.4dbd4","7a7211f8.727b8"]]},{"id":"b3d6f409.935268","type":"inject","z":"194b9578.c4981b","name":"Matin","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 13 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":130,"y":820,"wires":[["4106aa88.4048f4","5dd6f60a.63ac88","d6ef6857.5d9b68","576b4fb9.4dbd4","7a7211f8.727b8"]]},{"id":"9341d0e9.cdd92","type":"inject","z":"194b9578.c4981b","name":"Aprem","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 21 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":140,"y":880,"wires":[["4106aa88.4048f4","5dd6f60a.63ac88","d6ef6857.5d9b68","576b4fb9.4dbd4","7a7211f8.727b8"]]},{"id":"5dd6f60a.63ac88","type":"s7 out","z":"194b9578.c4981b","endpoint":"385a34ad.c4cc4c","variable":"placage","name":"Reset placage","x":420,"y":760,"wires":[]},{"id":"d6ef6857.5d9b68","type":"s7 out","z":"194b9578.c4981b","endpoint":"385a34ad.c4cc4c","variable":"pile","name":"Reset pile","x":400,"y":820,"wires":[]},{"id":"576b4fb9.4dbd4","type":"s7 out","z":"194b9578.c4981b","endpoint":"385a34ad.c4cc4c","variable":"volume","name":"Reset Volume","x":420,"y":880,"wires":[]},{"id":"7a7211f8.727b8","type":"s7 out","z":"194b9578.c4981b","endpoint":"385a34ad.c4cc4c","variable":"rebuts","name":"Reset rebuts","x":410,"y":940,"wires":[]},{"id":"74b699d.4c7a468","type":"inject","z":"194b9578.c4981b","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1060,"wires":[["4c4595f9.9721cc"]]},{"id":"4c4595f9.9721cc","type":"function","z":"194b9578.c4981b","name":"test temps d'arret","func":"var top = msg.payload;\nvar time;\nvar heure;\nvar finHeure;\n\nif(top !== false){\n    time = new Date();\n    heure = time.getTime();\n    flow.set('debutHeure', heure);\n return msg;\n}\n","outputs":1,"noerr":0,"x":330,"y":1060,"wires":[["d2ab4e45.a1c6b"]]},{"id":"d2ab4e45.a1c6b","type":"moment","z":"194b9578.c4981b","name":"test","topic":"","input":"heureDebut","inputType":"flow","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"fr_FR","output":"debutHeure","outputType":"flow","outTz":"Europe/Paris","x":510,"y":1060,"wires":[["c96615ca.3276e8","e73a099a.e43428"]]},{"id":"c96615ca.3276e8","type":"function","z":"194b9578.c4981b","name":"date","func":"var date = msg.payload;\nvar stringDate = {jour:date.date, mois:date.months+1, annee:date.years};\nmsg.payload = stringDate;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1080,"wires":[[]]},{"id":"e73a099a.e43428","type":"function","z":"194b9578.c4981b","name":"heure_arret","func":"var heureFin = flow.get('finHeure');\nvar heureDebut = flow.get('debutHeure');\nvar milliDebut;\nvar milliFin;\nvar milliarret;\n\nfunction convert(heure, min, sec){\n    var milliheure = heure*60*60*1000;\n    var millimin = min*60*1000;\n    var millisec = sec*1000;\n    var milli = milliheure+millimin+millisec;\n    return milli;\n}\n\nmilliDebut = convert(heureDebut.hours, heureDebut.minutes, heureDebut.seconds);\nmilliFin = convert(heureFin.hours, heureFin.minutes, heureFin.seconds);\nmilliarret = milliFin - milliDebut;\n\nmsg.payload = milliarret;\n//msg.payload = heureFin;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1040,"wires":[["ad8e8742.e570f8","a8bf9472.a41698"]]},{"id":"ad8e8742.e570f8","type":"function","z":"194b9578.c4981b","name":"","func":"var load = msg.payload\n\nvar heure = new Date(load-(1*60*60*1000));\n\nmsg.payload = heure.toLocaleTimeString();\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1060,"wires":[["ee9c83c9.79454"]]},{"id":"5842696f.0b8088","type":"moment","z":"194b9578.c4981b","name":"test2","topic":"","input":"heureFin","inputType":"flow","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"fr_FR","output":"finHeure","outputType":"flow","outTz":"Europe/Paris","x":510,"y":1020,"wires":[["e73a099a.e43428"]]},{"id":"de9ac752.28b418","type":"function","z":"194b9578.c4981b","name":"test2 temps d'arret","func":"var top = msg.payload;\nvar time;\nvar heure;\nvar finHeure;\n\nif(top !== true){\n    time = new Date();\n    heure = time.getTime();\n    flow.set('heureFin', heure);\n return msg;\n}\n","outputs":1,"noerr":0,"x":330,"y":1020,"wires":[["5842696f.0b8088"]]},{"id":"a8bf9472.a41698","type":"debug","z":"194b9578.c4981b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":950,"y":1000,"wires":[]},{"id":"ee9c83c9.79454","type":"debug","z":"194b9578.c4981b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":950,"y":1060,"wires":[]},{"id":"c09ac829.679e68","type":"inject","z":"194b9578.c4981b","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":130,"y":1020,"wires":[["de9ac752.28b418"]]},{"id":"27bd297b.5e4fc6","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Shift production volume","vartable":[{"addr":"DB98,DI96","name":"placage"},{"addr":"DB98,DI92","name":"panneau"},{"addr":"DB98,DI100","name":"pile"},{"addr":"DB93,S4.8","name":"recette"},{"addr":"DB98,WORD76","name":"volume"},{"addr":"DB98,DI696","name":"rebuts"}]},{"id":"61ee718c.6c0d3","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Total Production","vartable":[{"addr":"DB1098,DI52","name":"panneau"},{"addr":"DB1098,DI56","name":"placage"},{"addr":"DB1098,DI60","name":"pile"},{"addr":"DB1098,WORD72","name":"volume"},{"addr":"DB98,DI700","name":"rebuts"}]},{"id":"7839fe7d.5cd17","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Defaults","vartable":[{"addr":"DB99,X40.1","name":"Arrêt d'urgence"},{"addr":"DB99,X40.2","name":"Communication automate 1"},{"addr":"DB99,X40.3","name":"Communication automate 2"},{"addr":"DB99,X40.4","name":"Zone 1 Ok"},{"addr":"DB99,X40.5","name":"Zone 2 Ok"},{"addr":"DB99,X40.6","name":"Zone 3 Ok"},{"addr":"DB99,X40.7","name":"Zone 4 Ok"},{"addr":"DB99,X41.0","name":"Zone 4 Ok"},{"addr":"DB99,X41.1","name":"Chariot Zone 1"},{"addr":"DB99,X41.2","name":"Chariot Pression Zone 1"},{"addr":"DB99,X41.3","name":"Table Zone 1"},{"addr":"DB99,X41.4","name":"Table Pression Zone 1"},{"addr":"DB99,X41.5","name":"Table Zone 2"},{"addr":"DB99,X41.6","name":"Table Pression Zone 2"},{"addr":"DB99,X41.7","name":"Chariot Table Zone 3-4"},{"addr":"DB99,X42.0","name":"Pression pneumatique Zone 3-4"},{"addr":"DB99,X42.1","name":"Porte zone 1"},{"addr":"DB99,X42.2","name":"Porte zone 1-2"},{"addr":"DB99,X42.3","name":"Porte zone 3"},{"addr":"DB99,X42.4","name":"Porte 2 Zone 3"},{"addr":"DB99,X42.5","name":"Porte Zone 3-5"},{"addr":"DB99,X44.3","name":"Moteur Chariot 1"},{"addr":"DB99,X44.4","name":"Table 1 Off"},{"addr":"DB99,X44.5","name":"Moteur Chariot 2"},{"addr":"DB99,X44.6","name":"Table 2 Off"},{"addr":"DB99,X44.7","name":"Moteur Chariot 3"},{"addr":"DB99,X45.0","name":"Table 3 Off"},{"addr":"DB99,X45.1","name":"Moteur Chariot 4"},{"addr":"DB99,X45.2","name":"Table 4 Off"},{"addr":"DB99,X45.3","name":"Moteur Chariot 5"},{"addr":"DB99,X45.4","name":"Table 5 Off"},{"addr":"DB99,X45.5","name":"Table 5 Mouvement Off"},{"addr":"DB99,X45.7","name":"Table 3 basse"},{"addr":"DB99,X46.0","name":"Plaque inférieur"},{"addr":"DB99,X46.1","name":"Convoyeur pile"},{"addr":"DB99,X46.2","name":"Valve 1-2 ouverte Zone 2"},{"addr":"DB99,X46.3","name":"Moteur pile en sortie"},{"addr":"DB99,X46.4","name":"Rideau lumière chariot 1"},{"addr":"DB99,X46.5","name":"Rideau lumière chariot 3"},{"addr":"DB99,X46.6","name":"Rideau lumière chariot 1+3"},{"addr":"DB99,X46.7","name":"Rideau lumière Droite zone 2"},{"addr":"DB99,X48.3","name":"ProtectionPieds Chariot 1"},{"addr":"DB99,X48.4","name":"ProtectionPieds Chariot 2"},{"addr":"DB99,X48.5","name":"ProtectionPieds Chariot 3"},{"addr":"DB99,X48.6","name":"ProtectionPieds Chariot 4"},{"addr":"DB99,X48.7","name":"Air pour glue Off"},{"addr":"DB99,X49.0","name":"Pression Hydraulique basse"},{"addr":"DB99,X49.1","name":"Rideau lumière chariot 2"},{"addr":"DB99,X49.2","name":"Rideau lumière chariot 4"},{"addr":"DB99,X49.3","name":"Rideau lumière chariot 2+4"},{"addr":"DB99,X49.4","name":"Rideau lumière entre Zone 1-2"},{"addr":"DB99,X49.5","name":"Rideau lumière Gauche Zone 2"},{"addr":"DB99,X49.6","name":"Porte sécurité IG1 Zone 1-2"},{"addr":"DB99,X49.7","name":"Porte sécurité IG1 Zone 1-2"},{"addr":"DB99,X50.0","name":"Porte sécurité IG2 Zone 1-2 Gauche"},{"addr":"DB99,X50.1","name":"Rideau Lumière chariot 5 intérieur"},{"addr":"DB99,X50.2","name":"Rideau Lumière chariot 5 exterieur"},{"addr":"DB99,X50.3","name":"Porte sécurité IG4 Zone 1"},{"addr":"DB99,X52.4","name":"Protection pieds pile 5 Zone 3"},{"addr":"DB99,X52.5","name":"Protection pieds pile 5 Zone 5"},{"addr":"DB99,X52.6","name":"Rideau lumière pile 4 intérieur"},{"addr":"DB99,X52.7","name":"Rideau lumière pile 4 exterieur"},{"addr":"DB99,X53.0","name":"Rideau lumière convoyeur Zone 3 intérieur"},{"addr":"DB99,X53.1","name":"Rideau lumière convoyeur Zone 3 exterieur"},{"addr":"DB99,X53.2","name":"Rideau lumière sortie pile zone 3-5 intérieur"},{"addr":"DB99,X53.3","name":"Rideau lumière sortie pile zone 3-5 exterieur"},{"addr":"DB99,X53.4","name":"Porte sécurité IG5 Zone 3-5"}]},{"id":"1059c414.0c345c","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"placage/heure","vartable":[{"addr":"DB98,WORD652","name":"plis"}]},{"id":"296f2282.f4ea8e","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"placage/minute","vartable":[{"addr":"DB98,I650","name":"placage_min"}]},{"id":"385a34ad.c4cc4c","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Reset équipe","vartable":[{"addr":"DB1098,DI52","name":"panneau"},{"addr":"DB1098,DI56","name":"placage"},{"addr":"DB1098,DI60","name":"pile"},{"addr":"DB1098,WORD72","name":"volume"},{"addr":"DB1098,DI700","name":"rebuts"}]}]