flows (1).json
[{"id":"ecbbe9ba.8cbaf8","type":"tab","label":"DB98","disabled":false,"info":""},{"id":"56b94c3f.346ee4","type":"s7 in","z":"ecbbe9ba.8cbaf8","endpoint":"d8a464d7.fc3838","mode":"all","variable":"ShiftProductionVolume","diff":true,"name":"Shift production volume","x":144,"y":72,"wires":[["2b7f2185.90160e","52fda5bb.d78cec"]]},{"id":"bf9bd39b.d1285","type":"s7 in","z":"ecbbe9ba.8cbaf8","endpoint":"5492f3c9.8a662c","mode":"all","variable":"","diff":true,"name":"Total Production Volume","x":150,"y":260,"wires":[["c48ed32.4c61b3","725fdfd2.92d86"]]},{"id":"2b7f2185.90160e","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":314,"y":132,"wires":[]},{"id":"c48ed32.4c61b3","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":309,"y":197,"wires":[]},{"id":"259ed606.2c737a","type":"s7 in","z":"ecbbe9ba.8cbaf8","endpoint":"701219f8.d97fb8","mode":"all-split","variable":"","diff":true,"name":"Defaults","x":100,"y":400,"wires":[["52bcdcf7.832964","3a07de1.0638c22","be805120.5d86a"]]},{"id":"52bcdcf7.832964","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":480,"wires":[]},{"id":"c1298d6c.564ea","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":440,"wires":[]},{"id":"e88bbef6.54c16","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":549,"y":257,"wires":[]},{"id":"1b2f5665.ffb2ca","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":554,"y":72,"wires":[]},{"id":"3a07de1.0638c22","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":300,"y":438,"wires":[]},{"id":"b3750558.40d018","type":"file","z":"ecbbe9ba.8cbaf8","name":"shift","filename":"C:\\Users\\Atelier\\Documents\\shift.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":536,"y":22,"wires":[[]]},{"id":"b27e7205.a4277","type":"file","z":"ecbbe9ba.8cbaf8","name":"total","filename":"C:\\Users\\Atelier\\Documents\\total","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":530,"y":310,"wires":[[]]},{"id":"9cf0373c.599148","type":"file","z":"ecbbe9ba.8cbaf8","name":"defaut","filename":"C:\\Users\\Atelier\\Documents\\defaut.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":491,"y":391,"wires":[[]]},{"id":"be805120.5d86a","type":"function","z":"ecbbe9ba.8cbaf8","name":"defaut","func":"var payload = msg.payload;\nvar topic = msg.topic;\nvar date = new Date().toJSON().slice(0,19).replace('T', ' ');\nvar Query;\n\nQuery = \"INSERT INTO Defauts(Heure, Nom, Etat) VALUES ('\"+date+\"','\"+topic+\"','\"+payload+\"');\";\nmsg.payload = Query;\n\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":394,"wires":[["9cf0373c.599148","c1298d6c.564ea"]]},{"id":"52fda5bb.d78cec","type":"function","z":"ecbbe9ba.8cbaf8","name":"convert shift","func":"var value = msg.payload;\nvar Query;\ncontext.set('bit_init', value.recette);\nvar trigger = context.get('bit_init');\nvar BitOk = context.get('bitok');\nvar date = new Date().toJSON().slice(0,19).replace('T', ' ');\nvar valreturn;\n\nif((trigger != value.recette) || (BitOk != value.recette)){\n    context.set('values',value);\n    valreturn = context.get('values');\n    context.set('bitok', value.recette);\n    Query = \"INSERT INTO shift(Heure, Recette, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date+\"','\"+valreturn.recette+\"','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n    msg.payload = Query; \n    return msg;\n}else if(BitOk != value.recette){\n    context.set('bitok', value.recette);\n    valreturn = context.get('values');\n    Query = \"INSERT INTO shift(Heure, Recette, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date+\"','\"+valreturn.recette+\"','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n    msg.payload = Query;\n    return msg;\n}else{\ncontext.set('values',value);\n}","outputs":1,"noerr":0,"x":348,"y":72,"wires":[["b3750558.40d018","1b2f5665.ffb2ca"]]},{"id":"725fdfd2.92d86","type":"function","z":"ecbbe9ba.8cbaf8","name":"convert total","func":"var value = msg.payload;\nvar Query;\ncontext.set('bit_init', value.reset);\ncontext.set('bit_init2', value.reset2);\nvar trigger = context.get('bit_init');\nvar trigger2 = context.get('bit_init2');\nvar BitOk = context.get('bitok');\nvar BitOk2 = context.get('bitok2');\nvar valreturn;\nvar date = new Date().toJSON().slice(0,19).replace('T', ' ');\n\nif(((trigger != value.reset) || (trigger2 != value.reset2)) || ((BitOk != value.reset)||(BitOk2 != value.reset2))){\n    context.set('values',value);\n    valreturn = context.get('values');\n    context.set('bitok', value.reset);\n    context.set('bitok2', value.reset2);\n    Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date+\"','\"+valreturn.reset+\"','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n    msg.payload = Query; \n    return msg;\n}else if((BitOk != value.reset)||(BitOk2 != value.reset2)){\n    context.set('bitok', value.reset);\n    context.set('bitok2', value.reset2);\n    valreturn = context.get('values');\n    Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date+\"','\"+valreturn.reset+\"','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n    msg.payload = Query;\n    return msg;\n}else{\ncontext.set('values',value);\n}","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["e88bbef6.54c16","b27e7205.a4277"]]},{"id":"e9668193.a070e","type":"s7 in","z":"ecbbe9ba.8cbaf8","endpoint":"846108b0.f0f7d8","mode":"single","variable":"plis","diff":true,"name":"placage/heure","x":110,"y":640,"wires":[["cef50359.53a0c"]]},{"id":"534a8d91.93f254","type":"s7 in","z":"ecbbe9ba.8cbaf8","endpoint":"db17e0fc.d84bc","mode":"single","variable":"placage_min","diff":true,"name":"placage/minute","x":120,"y":560,"wires":[["312ef516.d4192a"]]},{"id":"312ef516.d4192a","type":"function","z":"ecbbe9ba.8cbaf8","name":"query placage/min","func":"var value = msg.payload;\nvar Query;\n\nQuery = \"INSERT INTO Moyenne_minute(plis) VALUES ('\"+value.placage_min+\"');\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["e77cd534.260298"]]},{"id":"cef50359.53a0c","type":"function","z":"ecbbe9ba.8cbaf8","name":"query placage/heure","func":"var value = msg.payload;\nvar date = new Date().toJSON().slice(0,19).replace('T', ' ');\nvar Query;\n\nQuery = \"INSERT INTO Moyenne_heure(plis, Heure) VALUES ('\"+value.plis+\"','\"+date+\"');\";\nmsg.payload = Query;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":640,"wires":[["f0b32671.1d0cd8"]]},{"id":"e77cd534.260298","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":572,"y":558,"wires":[]},{"id":"f0b32671.1d0cd8","type":"debug","z":"ecbbe9ba.8cbaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":538,"y":639,"wires":[]},{"id":"d8a464d7.fc3838","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Shift production volume","vartable":[{"addr":"DB98,DI96","name":"placage"},{"addr":"DB98,DI92","name":"panneau"},{"addr":"DB98,DI100","name":"pile"},{"addr":"DB93,S4.8","name":"recette"},{"addr":"DB98,WORD76","name":"volume"},{"addr":"DB98,DI696","name":"rebuts"}]},{"id":"5492f3c9.8a662c","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Total Production","vartable":[{"addr":"DB1098,DI52","name":"panneau"},{"addr":"DB1098,DI56","name":"placage"},{"addr":"DB1098,DI60","name":"pile"},{"addr":"DB1097,X0.1","name":"reset"},{"addr":"DB1098,WORD72","name":"volume"},{"addr":"DB1097,X0.2","name":"reset2"},{"addr":"DB98,DI700","name":"rebuts"},{"addr":"DB1097,X0.2","name":"reset2"}]},{"id":"701219f8.d97fb8","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Defaults","vartable":[{"addr":"DB99,X40.1","name":"Arrêt d'urgence"},{"addr":"DB99,X40.2","name":"Communication automate 1"},{"addr":"DB99,X40.3","name":"Communication automate 2"},{"addr":"DB99,X40.4","name":"Zone 1 Ok"},{"addr":"DB99,X40.5","name":"Zone 2 Ok"},{"addr":"DB99,X40.6","name":"Zone 3 Ok"},{"addr":"DB99,X40.7","name":"Zone 4 Ok"},{"addr":"DB99,X41.0","name":"Zone 4 Ok"},{"addr":"DB99,X41.1","name":"Chariot Zone 1"},{"addr":"DB99,X41.2","name":"Chariot Pression Zone 1"},{"addr":"DB99,X41.3","name":"Table Zone 1"},{"addr":"DB99,X41.4","name":"Table Pression Zone 1"},{"addr":"DB99,X41.5","name":"Table Zone 2"},{"addr":"DB99,X41.6","name":"Table Pression Zone 2"},{"addr":"DB99,X41.7","name":"Chariot Table Zone 3-4"},{"addr":"DB99,X42.0","name":"Pression pneumatique Zone 3-4"},{"addr":"DB99,X42.1","name":"Porte zone 1"},{"addr":"DB99,X42.2","name":"Porte zone 1-2"},{"addr":"DB99,X42.3","name":"Porte zone 3"},{"addr":"DB99,X42.4","name":"Porte 2 Zone 3"},{"addr":"DB99,X42.5","name":"Porte Zone 3-5"},{"addr":"DB99,X44.3","name":"Moteur Chariot 1"},{"addr":"DB99,X44.4","name":"Table 1 Off"},{"addr":"DB99,X44.5","name":"Moteur Chariot 2"},{"addr":"DB99,X44.6","name":"Table 2 Off"},{"addr":"DB99,X44.7","name":"Moteur Chariot 3"},{"addr":"DB99,X45.0","name":"Table 3 Off"},{"addr":"DB99,X45.1","name":"Moteur Chariot 4"},{"addr":"DB99,X45.2","name":"Table 4 Off"},{"addr":"DB99,X45.3","name":"Moteur Chariot 5"},{"addr":"DB99,X45.4","name":"Table 5 Off"},{"addr":"DB99,X45.5","name":"Table 5 Mouvement Off"},{"addr":"DB99,X45.7","name":"Table 3 basse"},{"addr":"DB99,X46.0","name":"Plaque inférieur"},{"addr":"DB99,X46.1","name":"Convoyeur pile"},{"addr":"DB99,X46.2","name":"Valve 1-2 ouverte Zone 2"},{"addr":"DB99,X46.3","name":"Moteur pile en sortie"},{"addr":"DB99,X46.4","name":"Rideau lumière chariot 1"},{"addr":"DB99,X46.5","name":"Rideau lumière chariot 3"},{"addr":"DB99,X46.6","name":"Rideau lumière chariot 1+3"},{"addr":"DB99,X46.7","name":"Rideau lumière Droite zone 2"},{"addr":"DB99,X48.3","name":"ProtectionPieds Chariot 1"},{"addr":"DB99,X48.4","name":"ProtectionPieds Chariot 2"},{"addr":"DB99,X48.5","name":"ProtectionPieds Chariot 3"},{"addr":"DB99,X48.6","name":"ProtectionPieds Chariot 4"},{"addr":"DB99,X48.7","name":"Air pour glue Off"},{"addr":"DB99,X49.0","name":"Pression Hydraulique basse"},{"addr":"DB99,X49.1","name":"Rideau lumière chariot 2"},{"addr":"DB99,X49.2","name":"Rideau lumière chariot 4"},{"addr":"DB99,X49.3","name":"Rideau lumière chariot 2+4"},{"addr":"DB99,X49.4","name":"Rideau lumière entre Zone 1-2"},{"addr":"DB99,X49.5","name":"Rideau lumière Gauche Zone 2"},{"addr":"DB99,X49.6","name":"Porte sécurité IG1 Zone 1-2"},{"addr":"DB99,X49.7","name":"Porte sécurité IG1 Zone 1-2"},{"addr":"DB99,X50.0","name":"Porte sécurité IG2 Zone 1-2 Gauche"},{"addr":"DB99,X50.1","name":"Rideau Lumière chariot 5 intérieur"},{"addr":"DB99,X50.2","name":"Rideau Lumière chariot 5 exterieur"},{"addr":"DB99,X50.3","name":"Porte sécurité IG4 Zone 1"},{"addr":"DB99,X52.4","name":"Protection pieds pile 5 Zone 3"},{"addr":"DB99,X52.5","name":"Protection pieds pile 5 Zone 5"},{"addr":"DB99,X52.6","name":"Rideau lumière pile 4 intérieur"},{"addr":"DB99,X52.7","name":"Rideau lumière pile 4 exterieur"},{"addr":"DB99,X53.0","name":"Rideau lumière convoyeur Zone 3 intérieur"},{"addr":"DB99,X53.1","name":"Rideau lumière convoyeur Zone 3 exterieur"},{"addr":"DB99,X53.2","name":"Rideau lumière sortie pile zone 3-5 intérieur"},{"addr":"DB99,X53.3","name":"Rideau lumière sortie pile zone 3-5 exterieur"},{"addr":"DB99,X53.4","name":"Porte sécurité IG5 Zone 3-5"}]},{"id":"846108b0.f0f7d8","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"placage/heure","vartable":[{"addr":"DB98,WORD652","name":"plis"}]},{"id":"db17e0fc.d84bc","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"placage/minute","vartable":[{"addr":"DB98,I650","name":"placage_min"}]}]