flow_V3.json
[{"id":"ba1bfa04.048268","type":"tab","label":"DB98","disabled":false,"info":""},{"id":"c77e9771.b99a88","type":"s7 in","z":"ba1bfa04.048268","endpoint":"1438a44a.ec1eec","mode":"single","variable":"plis","diff":true,"name":"placage/heure","x":118,"y":480,"wires":[["230377b5.3bc058"]]},{"id":"ef3554b4.fbbd88","type":"s7 in","z":"ba1bfa04.048268","endpoint":"85e0822f.681a4","mode":"single","variable":"placage_min","diff":true,"name":"placage/minute","x":128,"y":400,"wires":[["16193e7d.8fba02"]]},{"id":"16193e7d.8fba02","type":"function","z":"ba1bfa04.048268","name":"query placage/min","func":"var value = msg.payload;\nvar Query;\n\nQuery = \"INSERT INTO Moyenne_minute(plis) VALUES ('\"+value.placage+\"');\";\nmsg.payload = Query;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":400,"wires":[["6ea1e6b8.08ca08"]]},{"id":"230377b5.3bc058","type":"function","z":"ba1bfa04.048268","name":"query placage/heure","func":"var value = msg.payload;\nvar date = new Date().toJSON().slice(0,19).replace('T', ' ');\nvar Query;\n\nQuery = \"INSERT INTO Moyenne_heure(plis, Heure) VALUES ('\"+value.plis+\"','\"+date+\"');\";\nmsg.payload = Query;\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":480,"wires":[["f382ad7c.4cb2b"]]},{"id":"6ea1e6b8.08ca08","type":"debug","z":"ba1bfa04.048268","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":398,"wires":[]},{"id":"f382ad7c.4cb2b","type":"debug","z":"ba1bfa04.048268","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":546,"y":479,"wires":[]},{"id":"f14dd108.228c5","type":"s7 in","z":"ba1bfa04.048268","endpoint":"5bdb548c.c2454c","mode":"all-split","variable":"","diff":true,"name":"Defaults","x":120,"y":560,"wires":[["54a3c9ac.1aba78"]]},{"id":"538f0b48.f70684","type":"file","z":"ba1bfa04.048268","name":"defaut","filename":"C:\\Users\\Atelier\\Documents\\defautV2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":490,"y":560,"wires":[[]]},{"id":"54a3c9ac.1aba78","type":"function","z":"ba1bfa04.048268","name":"defautV2","func":"var tabDef=[\"701M1 Pompe hydraulique 2 Pas démarrer\",\"701M1 Pompe hydraulique 2 Pas marcher\",\"701M1 Pompe hydraulique 2 Sécurité\",\"701M1 Pompe hydraulique 2 NotHealthy\",\"701M1 Pompe hydraulique 2 Alarme frein\",\"701M1 Pompe hydraulique 2 Alimentation\",\"701M1 Pompe hydraulique 2 Bus loss\",\"701M1 Pompe hydraulique 2 Contacteur\",\"702M1 Pompe hydraulique 1 Pas démarrer\",\"702M1 Pompe hydraulique 1 Pas marcher\",\"702M1 Pompe hydraulique 1 Sécurité\",\"702M1 Pompe hydraulique 1 NotHealthy\",\"702M1 Pompe hydraulique 1 Alarme frein\",\"702M1 Pompe hydraulique 1 Alimentation\",\"702M1 Pompe hydraulique 1 Bus loss\",\"702M1 Pompe hydraulique 1 Contacteur\",\"703M1 Pompe hydraulique 3 Pas démarrer\",\"703M1 Pompe hydraulique 3 Pas marcher\",\"703M1 Pompe hydraulique 3 Sécurité\",\"703M1 Pompe hydraulique 3 NotHealthy\",\"703M1 Pompe hydraulique 3 Alarme frein\",\"703M1 Pompe hydraulique 3 Alimentation\",\"703M1 Pompe hydraulique 3 Bus loss\",\"703M1 Pompe hydraulique 3 Contacteur\",\"704M1 Hydraulique refroidissement Pas démarrer\",\"704M1 Hydraulique refroidissement Pas marcher\",\"704M1 Hydraulique refroidissement Sécurité\",\"704M1 Hydraulique refroidissement NotHealthy\",\"704M1 Hydraulique refroidissement Alarme frein\",\"704M1 Hydraulique refroidissement Alimentation\",\"704M1 Hydraulique refroidissement Bus loss\",\"704M1 Hydraulique refroidissement Contacteur\",\"705R1 Hydraulique chauffage Pas démarrer\",\"705R1 Hydraulique chauffage Pas marcher\",\"705R1 Hydraulique chauffage Sécurité\",\"705R1 Hydraulique chauffage NotHealthy\",\"705R1 Hydraulique chauffage Alarme frein\",\"705R1 Hydraulique chauffage Alimentation\",\"705R1 Hydraulique chauffage Bus loss\",\"705R1 Hydraulique chauffage Contacteur\",\"706M1 Pompe hydraulique 5 Pas démarrer\",\"706M1 Pompe hydraulique 5 Pas marcher\",\"706M1 Pompe hydraulique 5 Sécurité\",\"706M1 Pompe hydraulique 5 NotHealthy\",\"706M1 Pompe hydraulique 5 Alarme frein\",\"706M1 Pompe hydraulique 5 Alimentation\",\"706M1 Pompe hydraulique 5 Bus loss\",\"706M1 Pompe hydraulique 5 Contacteur\",\"710M1 Rouleau avant panier 1 Pas démarrer\",\"710M1 Rouleau avant panier 1 Pas marcher\",\"710M1 Rouleau avant panier 1 Sécurité\",\"710M1 Rouleau avant panier 1 NotHealthy\",\"710M1 Rouleau avant panier 1 Alarme frein\",\"710M1 Rouleau avant panier 1 Alimentation\",\"710M1 Rouleau avant panier 1 Bus loss\",\"710M1 Rouleau avant panier 1 Contacteur\",\"711M1 Rouleau panier 1 Pas démarrer\",\"711M1 Rouleau panier 1 Pas marcher\",\"711M1 Rouleau panier 1 Sécurité\",\"711M1 Rouleau panier 1 NotHealthy\",\"711M1 Rouleau panier 1 Alarme frein\",\"711M1 Rouleau panier 1 Alimentation\",\"711M1 Rouleau panier 1 Bus loss\",\"711M1 Rouleau panier 1 Contacteur\",\"716M1 Rouleau avant panier 2 Pas démarrer\",\"716M1 Rouleau avant panier 2 Pas marcher\",\"716M1 Rouleau avant panier 2 Sécurité\",\"716M1 Rouleau avant panier 2 NotHealthy\",\"716M1 Rouleau avant panier 2 Alarme frein\",\"716M1 Rouleau avant panier 2 Alimentation\",\"716M1 Rouleau avant panier 2 Bus loss\",\"716M1 Rouleau avant panier 2 Contacteur\",\"717M1 Rouleau panier 2 Pas démarrer\",\"717M1 Rouleau panier 2 Pas marcher\",\"717M1 Rouleau panier 2 Sécurité\",\"717M1 Rouleau panier 2 NotHealthy\",\"717M1 Rouleau panier 2 Alarme frein\",\"717M1 Rouleau panier 2 Alimentation\",\"717M1 Rouleau panier 2 Bus loss\",\"717M1 Rouleau panier 2 Contacteur\",\"719M1 Rouleau avant panier 3 Pas démarrer\",\"719M1 Rouleau avant panier 3 Pas marcher\",\"719M1 Rouleau avant panier 3 Sécurité\",\"719M1 Rouleau avant panier 3 NotHealthy\",\"719M1 Rouleau avant panier 3 Alarme frein\",\"719M1 Rouleau avant panier 3 Alimentation\",\"719M1 Rouleau avant panier 3 Bus loss\",\"719M1 Rouleau avant panier 3 Contacteur\",\"720M1 Rouleau panier 3 Pas démarrer\",\"720M1 Rouleau panier 3 Pas marcher\",\"720M1 Rouleau panier 3 Sécurité\",\n\"720M1 Rouleau panier 3 NotHealthy\",\"720M1 Rouleau panier 3 Alarme frein\",\"720M1 Rouleau panier 3 Alimentation\",\"720M1 Rouleau panier 3 Bus loss\",\"720M1 Rouleau panier 3 Contacteur\",\"721M1 Rouleau avant panier 4 Pas démarrer\",\"721M1 Rouleau avant panier 4 Pas marcher\",\"721M1 Rouleau avant panier 4 Sécurité\",\"721M1 Rouleau avant panier 4 NotHealthy\",\"721M1 Rouleau avant panier 4 Alarme frein\",\"721M1 Rouleau avant panier 4 Alimentation\",\"721M1 Rouleau avant panier 4 Bus loss\",\"721M1 Rouleau avant panier 4 Contacteur\",\"722M1 Rouleau panier 4 Pas démarrer\",\"722M1 Rouleau panier 4 Pas marcher\",\"722M1 Rouleau panier 4 Sécurité\",\"722M1 Rouleau panier 4 NotHealthy\",\"722M1 Rouleau panier 4 Alarme frein\",\"722M1 Rouleau panier 4 Alimentation\",\"722M1 Rouleau panier 4 Bus loss\",\"722M1 Rouleau panier 4 Contacteur\",\"723M1 Rouleau avant panier 5 Pas démarrer\",\"723M1 Rouleau avant panier 5 Pas marcher\",\"723M1 Rouleau avant panier 5 Sécurité\",\"723M1 Rouleau avant panier 5 NotHealthy\",\"723M1 Rouleau avant panier 5 Alarme frein\",\"723M1 Rouleau avant panier 5 Alimentation\",\"723M1 Rouleau avant panier 5 Bus loss\",\"723M1 Rouleau avant panier 5 Contacteur\",\"724M1 Rouleau panier 5 Pas démarrer\",\"724M1 Rouleau panier 5 Pas marcher\",\"724M1 Rouleau panier 5 Sécurité\",\"724M1 Rouleau panier 5 NotHealthy\",\"724M1 Rouleau panier 5 Alarme frein\",\"724M1 Rouleau panier 5 Alimentation\",\"724M1 Rouleau panier 5 Bus loss\",\"724M1 Rouleau panier 5 Contacteur\",\"727M1 Charriot 1-2 tête ventilo 1 Pas démarrer\",\"727M1 Charriot 1-2 tête ventilo 1 Pas marcher\",\"727M1 Charriot 1-2 tête ventilo 1 Sécurité\",\"727M1 Charriot 1-2 tête ventilo 1 NotHealthy\",\"727M1 Charriot 1-2 tête ventilo 1 Alarme frein\",\"727M1 Charriot 1-2 tête ventilo 1 Alimentation\",\"727M1 Charriot 1-2 tête ventilo 1 Bus loss\",\"727M1 Charriot 1-2 tête ventilo 1 Contacteur\",\"728M1 Charriot 1-2 tête ventilo 2 Pas démarrer\",\"728M1 Charriot 1-2 tête ventilo 2 Pas marcher\",\"728M1 Charriot 1-2 tête ventilo 2 Sécurité\",\"728M1 Charriot 1-2 tête ventilo 2 NotHealthy\",\"728M1 Charriot 1-2 tête ventilo 2 Alarme frein\",\"728M1 Charriot 1-2 tête ventilo 2 Alimentation\",\"728M1 Charriot 1-2 tête ventilo 2 Bus loss\",\"728M1 Charriot 1-2 tête ventilo 2 Contacteur\",\"729M1 Charriot 1-2 tête transfert Pas démarrer\",\"729M1 Charriot 1-2 tête transfert Pas marcher\",\"729M1 Charriot 1-2 tête transfert Sécurité\",\"729M1 Charriot 1-2 tête transfert NotHealthy\",\"729M1 Charriot 1-2 tête transfert Alarme frein\",\"729M1 Charriot 1-2 tête transfert Alimentation\",\"729M1 Charriot 1-2 tête transfert Bus loss\",\"729M1 Charriot 1-2 tête transfert Contacteur\",\"730M1 Charriot 3-4 tête ventilo 1 Pas démarrer\",\"730M1 Charriot 3-4 tête ventilo 1 Pas marcher\",\"730M1 Charriot 3-4 tête ventilo 1 Sécurité\",\"730M1 Charriot 3-4 tête ventilo 1 NotHealthy\",\"730M1 Charriot 3-4 tête ventilo 1 Alarme frein\",\"730M1 Charriot 3-4 tête ventilo 1 Alimentation\",\"730M1 Charriot 3-4 tête ventilo 1 Bus loss\",\"730M1 Charriot 3-4 tête ventilo 1 Contacteur\",\"731M1 Charriot 3-4 tête ventilo 2 Pas démarrer\",\"731M1 Charriot 3-4 tête ventilo 2 Pas marcher\",\"731M1 Charriot 3-4 tête ventilo 2 Sécurité\",\"731M1 Charriot 3-4 tête ventilo 2 NotHealthy\",\"731M1 Charriot 3-4 tête ventilo 2 Alarme frein\",\"731M1 Charriot 3-4 tête ventilo 2 Alimentation\",\"731M1 Charriot 3-4 tête ventilo 2 Bus loss\",\"731M1 Charriot 3-4 tête ventilo 2 Contacteur\",\"732M1 Charriot 3-4 tête transfert Pas démarrer\",\"732M1 Charriot 3-4 tête transfert Pas marcher\",\"732M1 Charriot 3-4 tête transfert Sécurité\",\"732M1 Charriot 3-4 tête transfert NotHealthy\",\"732M1 Charriot 3-4 tête transfert Alarme frein\",\"732M1 Charriot 3-4 tête transfert Alimentation\",\"732M1 Charriot 3-4 tête transfert Bus loss\",\"732M1 Charriot 3-4 tête transfert Contacteur\",\"733M1 Ventilo aspiration Pas démarrer\",\"733M1 Ventilo aspiration Pas marcher\",\"733M1 Ventilo aspiration Sécurité\",\"733M1 Ventilo aspiration NotHealthy\",\"733M1 Ventilo aspiration Alarme frein\",\"733M1 Ventilo aspiration Alimentation\",\n\"733M1 Ventilo aspiration Bus loss\",\"733M1 Ventilo aspiration Contacteur\",\"740M1 Ventilo aspiration Pas démarrer\",\"740M1 Ventilo aspiration Pas marcher\",\"740M1 Ventilo aspiration Sécurité\",\"740M1 Ventilo aspiration NotHealthy\",\"740M1 Ventilo aspiration Alarme frein\",\"740M1 Ventilo aspiration Alimentation\",\"740M1 Ventilo aspiration Bus loss\",\"740M1 Ventilo aspiration Contacteur\",\"741M1 Convoyeur plateforme 1-2 Pas démarrer\",\"741M1 Convoyeur plateforme 1-2 Pas marcher\",\"741M1 Convoyeur plateforme 1-2 Sécurité\",\"741M1 Convoyeur plateforme 1-2 NotHealthy\",\"741M1 Convoyeur plateforme 1-2 Alarme frein\",\"741M1 Convoyeur plateforme 1-2 Alimentation\",\"741M1 Convoyeur plateforme 1-2 Bus loss\",\"741M1 Convoyeur plateforme 1-2 Contacteur\",\"742M1 Convoyeur plateforme 3-4 Pas démarrer\",\"742M1 Convoyeur plateforme 3-4 Pas marcher\",\"742M1 Convoyeur plateforme 3-4 Sécurité\",\"742M1 Convoyeur plateforme 3-4 NotHealthy]\",\"742M1 Convoyeur plateforme 3-4 Alarme frein\",\"742M1 Convoyeur plateforme 3-4 Alimentation\",\"742M1 Convoyeur plateforme 3-4 Bus loss\",\"742M1 Convoyeur plateforme 3-4 Contacteur\",\"743M1 Convoyeur 1 Pas démarrer\",\"743M1 Convoyeur 1 Pas marcher\",\"743M1 Convoyeur 1 Sécurité\",\"743M1 Convoyeur 1 NotHealthy\",\"743M1 Convoyeur 1 Alarme frein\",\"743M1 Convoyeur 1 Alimentation\",\"743M1 Convoyeur 1 Bus loss\",\"743M1 Convoyeur 1 Contacteur\",\"744M1 Convoyeur 2 Pas démarrer\",\"744M1 Convoyeur 2 Pas marcher\",\"744M1 Convoyeur 2 Sécurité\",\"744M1 Convoyeur 2 NotHealthy\",\"744M1 Convoyeur 2 Alarme frein\",\"744M1 Convoyeur 2 Alimentation\",\"744M1 Convoyeur 2 Bus loss\",\"744M1 Convoyeur 2 Contacteur\",\"745M1 Convoyeur rebuts Pas démarrer\",\"745M1 Convoyeur rebuts Pas marcher\",\"745M1 Convoyeur rebuts Sécurité\",\"745M1 Convoyeur rebuts NotHealthy\",\"745M1 Convoyeur rebuts Alarme frein\",\"745M1 Convoyeur rebuts Alimentation\",\"745M1 Convoyeur rebuts Bus loss\",\"745M1 Convoyeur rebuts Contacteur\",\"746M1 Convoyeur après rebut Pas démarrer\",\"746M1 Convoyeur après rebut Pas marcher\",\"746M1 Convoyeur après rebut Sécurité\",\"746M1 Convoyeur après rebut NotHealthy\",\"746M1 Convoyeur après rebut Alarme frein\",\"746M1 Convoyeur après rebut Alimentation\",\"746M1 Convoyeur après rebut Bus loss\",\"746M1 Convoyeur après rebut Contacteur\",\"747M1 Rouleau alignement Pas démarrer\",\"747M1 Rouleau alignement Pas marcher\",\"747M1 Rouleau alignement Sécurité\",\"747M1 Rouleau alignement NotHealthy\",\"747M1 Rouleau alignement Alarme frein\",\"747M1 Rouleau alignement Alimentation\",\"747M1 Rouleau alignement Bus loss\",\"747M1 Rouleau alignement Contacteur\",\"748M1 Convoyeur colle Pas démarrer\",\"748M1 Convoyeur colle Pas marcher\",\"748M1 Convoyeur colle Sécurité\",\"748M1 Convoyeur colle NotHealthy\",\"748M1 Convoyeur colle Alarme frein\",\"748M1 Convoyeur colle Alimentation\",\"748M1 Convoyeur colle Bus loss\",\"748M1 Convoyeur colle Contacteur\",\"748M2 Pressure belt Pas démarrer\",\"748M2 Pressure belt Pas marcher\",\"748M2 Pressure belt Sécurité\",\"748M2 Pressure belt NotHealthy\",\"748M2 Pressure belt Alarme frein\",\"748M2 Pressure belt Alimentation\",\"748M2 Pressure belt Bus loss\",\"748M2 Pressure belt Contacteur\",\"750M1 Charriot 5 ventilo Pas démarrer\",\"750M1 Charriot 5 ventilo Pas marcher\",\"750M1 Charriot 5 ventilo Sécurité\",\"750M1 Charriot 5 ventilo NotHealthy\",\"750M1 Charriot 5 ventilo Alarme frein\",\"750M1 Charriot 5 ventilo Alimentation\",\"750M1 Charriot 5 ventilo Bus loss\",\"750M1 Charriot 5 ventilo Contacteur\",\"751M1 Charriot 5 transfert Pas démarrer\",\"751M1 Charriot 5 transfert Pas marcher\",\"751M1 Charriot 5 transfert Sécurité\",\"751M1 Charriot 5 transfert NotHealthy\",\"751M1 Charriot 5 transfert Alarme frein\",\"751M1 Charriot 5 transfert Alimentation\",\"751M1 Charriot 5 transfert Bus loss\",\"751M1 Charriot 5 transfert Contacteur\",\n\"761M1 Convoyeur après colle Pas démarrer\",\"761M1 Convoyeur après colle Pas marcher\",\"761M1 Convoyeur après colle Sécurité\",\"761M1 Convoyeur après colle NotHealthy\",\"761M1 Convoyeur après colle Alarme frein\",\"761M1 Convoyeur après colle Alimentation\",\"761M1 Convoyeur après colle Bus loss\",\"761M1 Convoyeur après colle Contacteur\",\"766M1 Mouvement table Pas démarrer\",\"766M1 Mouvement table Pas marcher\",\"766M1 Mouvement table Sécurité\",\"766M1 Mouvement table NotHealthy\",\"766M1 Mouvement table Alarme frein\",\"766M1 Mouvement table Alimentation\",\"766M1 Mouvement table Bus loss\",\"766M1 Mouvement table Contacteur\",\",767M1 Convoyeur table Pas démarrer\",\"767M1 Convoyeur table Pas marcher\",\"767M1 Convoyeur table Sécurité\",\"767M1 Convoyeur table NotHealthy\",\"767M1 Convoyeur table Alarme frein\",\"767M1 Convoyeur table Alimentation\",\"767M1 Convoyeur table Bus loss\",\"767M1 Convoyeur table Contacteur\",\"769M1 Rouleau End de ligne Pas démarrer\",\"769M1 Rouleau End de ligne Pas marcher\",\"769M1 Rouleau End de ligne Sécurité\",\"769M1 Rouleau End de ligne NotHealthy\",\"769M1 Rouleau End de ligne Alarme frein\",\"769M1 Rouleau End de ligne Alimentation\",\"769M1 Rouleau End de ligne Bus loss\",\"769M1 Rouleau End de ligne Contacteur\",\"774M1 Convoyeur plateforme 5 Pas démarrer\",\"774M1 Convoyeur plateforme 5 Pas marcher\",\"774M1 Convoyeur plateforme 5 Sécurité\",\"774M1 Convoyeur plateforme 5 NotHealthy\",\"774M1 Convoyeur plateforme 5 Alarme frein\",\"774M1 Convoyeur plateforme 5 Alimentation\",\"774M1 Convoyeur plateforme 5 Bus loss\",\"774M1 Convoyeur plateforme 5 Contacteur\",\"777M1 Pile feeder Pas démarrer\",\"777M1 Pile feeder Pas marcher\",\"777M1 Pile feeder Sécurité\",\"777M1 Pile feeder NotHealthy\",\"777M1 Pile feeder Alarme frein\",\"777M1 Pile feeder Alimentation\",\"777M1 Pile feeder Bus loss\",\"777M1 Pile feeder Contacteur\",\"778M1 Pile rouleau convoyeur Pas démarrer\",\"778M1 Pile rouleau convoyeur Pas marcher\",\"778M1 Pile rouleau convoyeur Sécurité\",\"778M1 Pile rouleau convoyeur NotHealthy\",\"778M1 Pile rouleau convoyeur Alarme frein\",\"778M1 Pile rouleau convoyeur Alimentation\",\"778M1 Pile rouleau convoyeur Bus loss\",\"778M1 Pile rouleau convoyeur Contacteur\",\"779M1 Rouleau convoyeur End ligne Pas démarrer\",\"779M1 Rouleau convoyeur End ligne Pas marcher\",\"779M1 Rouleau convoyeur End ligne Sécurité\",\"779M1 Rouleau convoyeur End ligne NotHealthy\",\"779M1 Rouleau convoyeur End ligne Alarme frein\",\"779M1 Rouleau convoyeur End ligne Alimentation\",\"779M1 Rouleau convoyeur End ligne Bus loss\",\"779M1 Rouleau convoyeur End ligne Contacteur\",\"780M1 Pile transport convoyeur Pas démarrer\",\"780M1 Pile transport convoyeur Pas marcher\",\"780M1 Pile transport convoyeur Sécurité\",\"780M1 Pile transport convoyeur NotHealthy\",\"780M1 Pile transport convoyeur Alarme frein\",\"780M1 Pile transport convoyeur Alimentation\",\"780M1 Pile transport convoyeur Bus loss\",\"780M1 Pile transport convoyeur Contacteur\",\"781M1 Pile transfert Pas démarrer\",\"781M1 Pile transfert Pas marcher\",\"781M1 Pile transfert Sécurité\",\"781M1 Pile transfert NotHealthy\",\"781M1 Pile transfert Alarme frein\",\"781M1 Pile transfert Alimentation\",\"781M1 Pile transfert Bus loss\",\"781M1 Pile transfert Contacteur\",\"HV Panier 1 bas/haut\",\"HV Panier 2 bas/haut\",\"HV Panier 3 bas/haut\",\"HV Panier 4 bas/haut\",\"HV Panier 5 bas/haut\",\"HV Panier colle bas/haut\",\"AV charriot 1 end bas/haut\",\"AV charriot 1 front bas/haut\",\"AV charriot 1 tête aspiration\",\"AV charriot 2 end bas/haut\",\"AV charriot 2 front bas/haut\",\"AV charriot 2 tête aspiration\",\"AV charriot 3 end bas/haut\",\"AV charriot 3 front bas/haut\",\"AV charriot 3 tête aspiration\",\"AV charriot 4 end bas/haut\",\"AV charriot 4 front bas/haut\",\"AV charriot 4 tête aspiration\",\"AV charriot 5 end bas/haut\",\"AV charriot 5 front bas/haut\",\"AV charriot 5 tête aspiration\",\"AV 741M1 Convoyeur avec table bas/haut\",\"AV 742M1 Convoyeur avec table bas/haut\",\"AV 745M1 Convoyeur rebut bas/haut\",\"AV 774M1 Face convoyeur table bas/haut\",\"729M1 Charriot 1-2 transfert\",\"730M1 Charriot 3-4 transfert\",\"736M1 pompe colle\",\"739M1 agitateur\",\"740M1 Convoyeur Disc\",\"741M1 Convoyeur table 1-2\",\"742M1 Convoyeur table 3-4\",\"743M1 Convoyeur 1\",\"744M1 Convoyeur 2\",\"745M1 Table rebut convoyeur\",\"746M1 Convoyeur après rebut\",\"747M1 rouleau alignement\",\"748M1 Convoyeur colle\",\"748M2 Pressure Belts\",\"751M1 Charriot 5 transfort\",\"761M1 Convoyeur après colle\",\n\"766M1 Mouvement table\",\"767M1 Convoyeur table\",\"774M1 Convoyeur table 5\"];\nvar payload = msg.payload;\nvar topic = String(msg.topic);\nvar tabEtat = [];\nvar tabStart = [];\nvar tabEnd = [];\nvar Start;\nvar Query;\nvar time;\nvar End;\nvar timeDef;\nvar StimeDef;\nvar date;\n\nfunction convert( ms ) {\n    // 1- Convert to seconds:\n    var seconds = ms / 1000;\n    // 2- Extract hours:\n    var hours = parseInt( seconds / 3600 ); // 3,600 seconds in 1 hour\n    seconds = seconds % 3600; // seconds remaining after extracting hours\n    // 3- Extract minutes:\n    var minutes = parseInt( seconds / 60 ); // 60 seconds in 1 minute\n    // 4- Keep only seconds not extracted to minutes:\n    seconds = seconds % 60;\n    var t = ( hours+\":\"+minutes+\":\"+seconds);\n    return t;\n}\n\nfor(i = 0 ; i < tabDef.length ; i++){\n    if((tabDef[i]==topic) && (payload === true) && (payload !== tabEtat[i])){\n        tabEtat = context.get(\"Etat\")||[];\n        tabEtat[i] = true;\n        context.set(\"Etat\", tabEtat);\n        time = new Date();\n        //time = time.getTime()+time.getTimezoneOffset(60);\n        tabStart = context.get(\"Start\")||[];\n        tabStart[i] = time;\n        context.set(\"Start\", tabStart);\n        //node.warn(\"true\" +context.get('Start')||[]);\n    }else if((tabDef[i]==topic) && (payload === false) && (payload !== tabEtat[i])){\n        tabEtat = context.get(\"Etat\")||[];\n        tabEtat[i] = false;\n        context.set(\"Etat\",tabEtat[i]);\n        End = new Date();\n        //time = time.getTime()+time.getTimezoneOffset(60);\n        tabEnd = context.get(\"End\")||[];\n        tabEnd[i] = End;\n        context.set(\"End\", tabEnd);\n        Start = context.get('Start')||[];\n        //node.warn(Start);\n        timeDef = End.getTime() - Start[i].getTime();\n        StimeDef = convert(timeDef);\n        \n        Query = \"INSERT INTO Defauts(Heure, Nom, Duree) VALUES ('\"+Start[i].toISOString()+\"','\"+topic+\"','\"+StimeDef.replace(/\\..+/g,\"$'\")+\"');\";\n        msg.payload = Query;\n        \n        return msg;\n    }\n\n}\n\n","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["538f0b48.f70684","fdfa2d89.8b828"]]},{"id":"fdfa2d89.8b828","type":"debug","z":"ba1bfa04.048268","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":620,"wires":[]},{"id":"de934d91.40553","type":"s7 in","z":"ba1bfa04.048268","endpoint":"a23b8139.bcb8f","mode":"all","variable":"ShiftProductionVolume","diff":true,"name":"Shift production volume","x":160,"y":80,"wires":[["132cfe2d.731fb2","c6c34019.7ff"]]},{"id":"dbfc9762.b4bc08","type":"s7 in","z":"ba1bfa04.048268","endpoint":"b427b3cc.f973c","mode":"all","variable":"","diff":true,"name":"Total Production Volume","x":166,"y":268,"wires":[["e662605d.7e789","2f02c41e.64788c"]]},{"id":"132cfe2d.731fb2","type":"debug","z":"ba1bfa04.048268","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":140,"wires":[]},{"id":"e662605d.7e789","type":"debug","z":"ba1bfa04.048268","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":325,"y":205,"wires":[]},{"id":"f6c1d807.27b7f8","type":"debug","z":"ba1bfa04.048268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":565,"y":265,"wires":[]},{"id":"82561726.68f808","type":"debug","z":"ba1bfa04.048268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":80,"wires":[]},{"id":"6cb17e30.e0657","type":"file","z":"ba1bfa04.048268","name":"shift","filename":"C:\\Users\\Atelier\\Documents\\shift.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":552,"y":30,"wires":[[]]},{"id":"a6d10290.c568d","type":"file","z":"ba1bfa04.048268","name":"total","filename":"C:\\Users\\Atelier\\Documents\\total","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":546,"y":318,"wires":[[]]},{"id":"c6c34019.7ff","type":"function","z":"ba1bfa04.048268","name":"convert shift","func":"var value = msg.payload;\nvar trigger = context.get(\"values\");\nvar date = new Date();\n\nif((trigger === undefined)||(trigger.recette != value.recett)){\n    context.set(\"values\",value);\n}else{\n    var valreturn = context.get(\"values\");\n    var Query = \"INSERT INTO shift(Heure, Recette, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date.toISOString()+\"','\"+valreturn.recette+\"','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n    msg.payload = Query;\n    return msg;\n}","outputs":1,"noerr":0,"x":364,"y":80,"wires":[["6cb17e30.e0657","82561726.68f808"]]},{"id":"fe934f27.7b00d","type":"s7 in","z":"ba1bfa04.048268","endpoint":"a23b8139.bcb8f","mode":"single","variable":"recette","diff":true,"name":"Reset recipe","x":546,"y":168,"wires":[["3b44f8dd.3b98d8"]]},{"id":"3b44f8dd.3b98d8","type":"function","z":"ba1bfa04.048268","name":"reset recipe","func":"var payload = msg.payload;\nvar recipe = context.get(\"recipe\");\n\nif(recipe === undefined){\n    context.set('recipe',payload);\n    recipe = context.get(\"recipe\");\n}\n\nif(recipe != payload){\n    context.set('recipe',payload);\n    msg.payload = 0;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":726,"y":168,"wires":[["e85f4bc5.ce7b28","99b07c1.d28468","740ae5a6.db75fc","f462e313.f21c6","954b4a2a.b0cdd8"]]},{"id":"e85f4bc5.ce7b28","type":"s7 out","z":"ba1bfa04.048268","endpoint":"a23b8139.bcb8f","variable":"placage","name":"recipe placage","x":960,"y":80,"wires":[]},{"id":"99b07c1.d28468","type":"s7 out","z":"ba1bfa04.048268","endpoint":"a23b8139.bcb8f","variable":"panneau","name":"recipe panneau","x":960,"y":120,"wires":[]},{"id":"740ae5a6.db75fc","type":"s7 out","z":"ba1bfa04.048268","endpoint":"a23b8139.bcb8f","variable":"pile","name":"recipe pile","x":950,"y":160,"wires":[]},{"id":"f462e313.f21c6","type":"s7 out","z":"ba1bfa04.048268","endpoint":"a23b8139.bcb8f","variable":"volume","name":"recipe volume","x":960,"y":200,"wires":[]},{"id":"954b4a2a.b0cdd8","type":"s7 out","z":"ba1bfa04.048268","endpoint":"a23b8139.bcb8f","variable":"rebuts","name":"recipe rebuts","x":950,"y":240,"wires":[]},{"id":"ad3574f2.2dc538","type":"s7 out","z":"ba1bfa04.048268","endpoint":"58030ad4.ecbf34","variable":"panneau","name":"Reset panneau","x":500,"y":720,"wires":[]},{"id":"772b5304.c383cc","type":"inject","z":"ba1bfa04.048268","name":"Nuit","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 05 * * 1,2,3,4","once":false,"onceDelay":0.1,"x":130,"y":840,"wires":[["ad3574f2.2dc538","773b6cdd.ac1344","1fa090df.7ec0cf","83e71fd7.75c81","1eb28706.cbd989"]]},{"id":"1e7e3389.a2749c","type":"inject","z":"ba1bfa04.048268","name":"Matin","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 13 * * 1,2,3,4","once":false,"onceDelay":0.1,"x":130,"y":900,"wires":[["ad3574f2.2dc538","773b6cdd.ac1344","1fa090df.7ec0cf","83e71fd7.75c81","1eb28706.cbd989"]]},{"id":"7d4f4dd.fb6cfb4","type":"inject","z":"ba1bfa04.048268","name":"Aprem","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 21 * * 1,2,3,4","once":false,"onceDelay":0.1,"x":140,"y":960,"wires":[["ad3574f2.2dc538","773b6cdd.ac1344","1fa090df.7ec0cf","83e71fd7.75c81","1eb28706.cbd989"]]},{"id":"773b6cdd.ac1344","type":"s7 out","z":"ba1bfa04.048268","endpoint":"58030ad4.ecbf34","variable":"placage","name":"Reset placage","x":500,"y":780,"wires":[]},{"id":"1fa090df.7ec0cf","type":"s7 out","z":"ba1bfa04.048268","endpoint":"58030ad4.ecbf34","variable":"pile","name":"Reset pile","x":480,"y":840,"wires":[]},{"id":"83e71fd7.75c81","type":"s7 out","z":"ba1bfa04.048268","endpoint":"58030ad4.ecbf34","variable":"volume","name":"Reset Volume","x":500,"y":900,"wires":[]},{"id":"1eb28706.cbd989","type":"s7 out","z":"ba1bfa04.048268","endpoint":"58030ad4.ecbf34","variable":"rebuts","name":"Reset rebuts","x":490,"y":960,"wires":[]},{"id":"d058c89a.49e4f8","type":"inject","z":"ba1bfa04.048268","name":"vendredi matin","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 13 * * 5","once":false,"onceDelay":0.1,"x":160,"y":700,"wires":[["ad3574f2.2dc538","773b6cdd.ac1344","1fa090df.7ec0cf","83e71fd7.75c81","1eb28706.cbd989"]]},{"id":"83021e9c.4d6a6","type":"inject","z":"ba1bfa04.048268","name":"Vendredi nuit","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * 6","once":false,"onceDelay":0.1,"x":160,"y":740,"wires":[["ad3574f2.2dc538","773b6cdd.ac1344","1fa090df.7ec0cf","83e71fd7.75c81","1eb28706.cbd989"]]},{"id":"a2c977e3.844758","type":"inject","z":"ba1bfa04.048268","name":"vendredi aprem","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 20 * * 5","once":false,"onceDelay":0.1,"x":170,"y":780,"wires":[["ad3574f2.2dc538","773b6cdd.ac1344","1fa090df.7ec0cf","83e71fd7.75c81","1eb28706.cbd989"]]},{"id":"2f02c41e.64788c","type":"function","z":"ba1bfa04.048268","name":"convert total","func":"var value = msg.payload;\nvar Query;\nvar trigger;\nvar valreturn;\nvar date = new Date();\nvar heure = new Date();\nvar Matin = new Date();\nMatin.setHours(4,0,0);\nvar Aprem = new Date();\nAprem.setHours(13,0,0);\nvar Nuit = new Date();\nNuit.setHours(21,0,0);\nvar NuitV = new Date();\nNuitV.setHours(20,0,0);\nvar MatinV = new Date();\nMatinV.setHours(3,0,0);\n\nif(date.getDay() < 5){\n    if(date.getTime()>=Matin){\n        trigger = 1;\n    }else if(date.getTime()>=Aprem){\n        trigger = 1;\n    }else if(date.getTime()>=Nuit){\n        trigger = 1;\n    }\n}else if (date.getDay() == 5){\n    if(date.getTime()>=Matin){\n        trigger = 1;\n    }else if(date.getTime()>=Aprem){\n        trigger = 1;\n    }else if(date.getTime()>=NuitV){\n        trigger = 1;\n    }\n}else if (date.getDay() == 5){\n    if(date.getTime()>=MatinV){\n        trigger = 1;\n    }\n}else trigger = 0;\n\nif(trigger !== 0){\n    context.set('values',value);\n}else if((trigger === 0)&&(date.getDay()<5)){\n    valreturn = context.get(\"values\");\n    if(date.getTime() >= Matin){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date.toISOString()+\"','Nuit','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }else if(date.getTime() >= Aprem){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date.toISOString()+\"','Matin','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }else if(date.getTime() >= Nuit){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date.toISOString()+\"','Aprem','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }\n}else if((trigger === 0)&&(date.getDay() == 5)){\n    valreturn = context.get(\"values\");\n    if(date.getTime() >= Matin){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date.toISOString()+\"','Nuit','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }else if(date.getTime() >= Aprem){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date.toISOString()+\"','Matin','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }else if(date.getTime() >= NuitV){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date.toISOString()+\"','Aprem','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }\n}else if((trigger===0)&&(date.getDay()==6)){\n    valreturn = context.get(\"values\");\n    if(date.getTime() >= MatinV){\n        Query = \"INSERT INTO total(Heure, Equipe, Feuille, Planche, Stack, Volume, Rebuts) VALUES ('\"+date.toISOString()+\"','Nuit','\"+valreturn.placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+valreturn.volume+\"','\"+valreturn.rebuts+\"');\";\n        msg.payload = Query;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["f6c1d807.27b7f8","a6d10290.c568d"]]},{"id":"1438a44a.ec1eec","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"placage/heure","vartable":[{"addr":"DB98,WORD652","name":"plis"}]},{"id":"85e0822f.681a4","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"placage/minute","vartable":[{"addr":"DB98,I650","name":"placage"}]},{"id":"5bdb548c.c2454c","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Defaults","vartable":[{"addr":"DB99,X81.0","name":"701M1 Pompe hydraulique 2 Pas démarrer"},{"addr":"DB99,X81.1","name":"701M1 Pompe hydraulique 2 Pas marcher"},{"addr":"DB99,X81.2","name":"701M1 Pompe hydraulique 2 Sécurité"},{"addr":"DB99,X81.3","name":"701M1 Pompe hydraulique 2 NotHealthy"},{"addr":"DB99,X81.4","name":"701M1 Pompe hydraulique 2 Alarme frein"},{"addr":"DB99,X81.5","name":"701M1 Pompe hydraulique 2 Alimentation"},{"addr":"DB99,X81.6","name":"701M1 Pompe hydraulique 2 Bus loss"},{"addr":"DB99,X81.7","name":"701M1 Pompe hydraulique 2 Contacteur"},{"addr":"DB99,X83.0","name":"702M1 Pompe hydraulique 1 Pas démarrer"},{"addr":"DB99,X83.1","name":"702M1 Pompe hydraulique 1 Pas marcher"},{"addr":"DB99,X83.2","name":"702M1 Pompe hydraulique 1 Sécurité"},{"addr":"DB99,X83.3","name":"702M1 Pompe hydraulique 1 NotHealthy"},{"addr":"DB99,X83.4","name":"702M1 Pompe hydraulique 1 Alarme frein"},{"addr":"DB99,X83.5","name":"702M1 Pompe hydraulique 1 Alimentation"},{"addr":"DB99,X83.6","name":"702M1 Pompe hydraulique 1 Bus loss"},{"addr":"DB99,X83.7","name":"702M1 Pompe hydraulique 1 Contacteur"},{"addr":"DB99,X85.0","name":"703M1 Pompe hydraulique 3 Pas démarrer"},{"addr":"DB99,X85.1","name":"703M1 Pompe hydraulique 3 Pas marcher"},{"addr":"DB99,X85.2","name":"703M1 Pompe hydraulique 3 Sécurité"},{"addr":"DB99,X85.3","name":"703M1 Pompe hydraulique 3 NotHealthy"},{"addr":"DB99,X85.4","name":"703M1 Pompe hydraulique 3 Alarme frein"},{"addr":"DB99,X85.5","name":"703M1 Pompe hydraulique 3 Alimentation"},{"addr":"DB99,X85.6","name":"703M1 Pompe hydraulique 3 Bus loss"},{"addr":"DB99,X85.7","name":"703M1 Pompe hydraulique 3 Contacteur"},{"addr":"DB99,X87.0","name":"704M1 Hydraulique refroidissement Pas démarrer"},{"addr":"DB99,X87.1","name":"704M1 Hydraulique refroidissement Pas marcher"},{"addr":"DB99,X87.2","name":"704M1 Hydraulique refroidissement Sécurité"},{"addr":"DB99,X87.3","name":"704M1 Hydraulique refroidissement NotHealthy"},{"addr":"DB99,X87.4","name":"704M1 Hydraulique refroidissement Alarme frein"},{"addr":"DB99,X87.5","name":"704M1 Hydraulique refroidissement Alimentation"},{"addr":"DB99,X87.6","name":"704M1 Hydraulique refroidissement Bus loss"},{"addr":"DB99,X87.7","name":"704M1 Hydraulique refroidissement Contacteur"},{"addr":"DB99,X89.0","name":"705R1 Hydraulique chauffage Pas démarrer"},{"addr":"DB99,X89.1","name":"705R1 Hydraulique chauffage Pas marcher"},{"addr":"DB99,X89.2","name":"705R1 Hydraulique chauffage Sécurité"},{"addr":"DB99,X89.3","name":"705R1 Hydraulique chauffage NotHealthy"},{"addr":"DB99,X89.4","name":"705R1 Hydraulique chauffage Alarme frein"},{"addr":"DB99,X89.5","name":"705R1 Hydraulique chauffage Alimentation"},{"addr":"DB99,X89.6","name":"705R1 Hydraulique chauffage Bus loss"},{"addr":"DB99,X89.7","name":"705R1 Hydraulique chauffage Contacteur"},{"addr":"DB99,X91.0","name":"706M1 Pompe hydraulique 5 Pas démarrer"},{"addr":"DB99,X91.1","name":"706M1 Pompe hydraulique 5 Pas marcher"},{"addr":"DB99,X91.2","name":"706M1 Pompe hydraulique 5 Sécurité"},{"addr":"DB99,X91.3","name":"706M1 Pompe hydraulique 5 NotHealthy"},{"addr":"DB99,X91.4","name":"706M1 Pompe hydraulique 5 Alarme frein"},{"addr":"DB99,X91.5","name":"706M1 Pompe hydraulique 5 Alimentation"},{"addr":"DB99,X91.6","name":"706M1 Pompe hydraulique 5 Bus loss"},{"addr":"DB99,X91.7","name":"706M1 Pompe hydraulique 5 Contacteur"},{"addr":"DB99,X99.0","name":"710M1 Rouleau avant panier 1 Pas démarrer"},{"addr":"DB99,X99.1","name":"710M1 Rouleau avant panier 1 Pas marcher"},{"addr":"DB99,X99.2","name":"710M1 Rouleau avant panier 1 Sécurité"},{"addr":"DB99,X99.3","name":"710M1 Rouleau avant panier 1 NotHealthy"},{"addr":"DB99,X99.4","name":"710M1 Rouleau avant panier 1 Alarme frein"},{"addr":"DB99,X99.5","name":"710M1 Rouleau avant panier 1 Alimentation"},{"addr":"DB99,X99.6","name":"710M1 Rouleau avant panier 1 Bus loss"},{"addr":"DB99,X99.7","name":"710M1 Rouleau avant panier 1 Contacteur"},{"addr":"DB99,X101.0","name":"711M1 Rouleau panier 1 Pas démarrer"},{"addr":"DB99,X101.1","name":"711M1 Rouleau panier 1 Pas marcher"},{"addr":"DB99,X101.2","name":"711M1 Rouleau panier 1 Sécurité"},{"addr":"DB99,X101.3","name":"711M1 Rouleau panier 1 NotHealthy"},{"addr":"DB99,X101.4","name":"711M1 Rouleau panier 1 Alarme frein"},{"addr":"DB99,X101.5","name":"711M1 Rouleau panier 1 Alimentation"},{"addr":"DB99,X101.6","name":"711M1 Rouleau panier 1 Bus loss"},{"addr":"DB99,X101.7","name":"711M1 Rouleau panier 1 Contacteur"},{"addr":"DB99,X111.0","name":"716M1 Rouleau avant panier 2 Pas démarrer"},{"addr":"DB99,X111.1","name":"716M1 Rouleau avant panier 2 Pas marcher"},{"addr":"DB99,X111.2","name":"716M1 Rouleau avant panier 2 Sécurité"},{"addr":"DB99,X111.3","name":"716M1 Rouleau avant panier 2 NotHealthy"},{"addr":"DB99,X111.4","name":"716M1 Rouleau avant panier 2 Alarme frein"},{"addr":"DB99,X111.5","name":"716M1 Rouleau avant panier 2 Alimentation"},{"addr":"DB99,X111.6","name":"716M1 Rouleau avant panier 2 Bus loss"},{"addr":"DB99,X111.7","name":"716M1 Rouleau avant panier 2 Contacteur"},{"addr":"DB99,X113.0","name":"717M1 Rouleau panier 2 Pas démarrer"},{"addr":"DB99,X113.1","name":"717M1 Rouleau panier 2 Pas marcher"},{"addr":"DB99,X113.2","name":"717M1 Rouleau panier 2 Sécurité"},{"addr":"DB99,X113.3","name":"717M1 Rouleau panier 2 NotHealthy"},{"addr":"DB99,X113.4","name":"717M1 Rouleau panier 2 Alarme frein"},{"addr":"DB99,X113.5","name":"717M1 Rouleau panier 2 Alimentation"},{"addr":"DB99,X113.6","name":"717M1 Rouleau panier 2 Bus loss"},{"addr":"DB99,X113.7","name":"717M1 Rouleau panier 2 Contacteur"},{"addr":"DB99,X117.0","name":"719M1 Rouleau avant panier 3 Pas démarrer"},{"addr":"DB99,X117.1","name":"719M1 Rouleau avant panier 3 Pas marcher"},{"addr":"DB99,X117.2","name":"719M1 Rouleau avant panier 3 Sécurité"},{"addr":"DB99,X117.3","name":"719M1 Rouleau avant panier 3 NotHealthy"},{"addr":"DB99,X117.4","name":"719M1 Rouleau avant panier 3 Alarme frein"},{"addr":"DB99,X117.5","name":"719M1 Rouleau avant panier 3 Alimentation"},{"addr":"DB99,X117.6","name":"719M1 Rouleau avant panier 3 Bus loss"},{"addr":"DB99,X117.7","name":"719M1 Rouleau avant panier 3 Contacteur"},{"addr":"DB99,X119.0","name":"720M1 Rouleau panier 3 Pas démarrer"},{"addr":"DB99,X119.1","name":"720M1 Rouleau panier 3 Pas marcher"},{"addr":"DB99,X119.2","name":"720M1 Rouleau panier 3 Sécurité"},{"addr":"DB99,X119.3","name":"720M1 Rouleau panier 3 NotHealthy"},{"addr":"DB99,X119.4","name":"720M1 Rouleau panier 3 Alarme frein"},{"addr":"DB99,X119.5","name":"720M1 Rouleau panier 3 Alimentation"},{"addr":"DB99,X119.6","name":"720M1 Rouleau panier 3 Bus loss"},{"addr":"DB99,X119.7","name":"720M1 Rouleau panier 3 Contacteur"},{"addr":"DB99,X121.0","name":"721M1 Rouleau avant panier 4 Pas démarrer"},{"addr":"DB99,X121.1","name":"721M1 Rouleau avant panier 4 Pas marcher"},{"addr":"DB99,X121.2","name":"721M1 Rouleau avant panier 4 Sécurité"},{"addr":"DB99,X121.3","name":"721M1 Rouleau avant panier 4 NotHealthy"},{"addr":"DB99,X121.4","name":"721M1 Rouleau avant panier 4 Alarme frein"},{"addr":"DB99,X121.5","name":"721M1 Rouleau avant panier 4 Alimentation"},{"addr":"DB99,X121.6","name":"721M1 Rouleau avant panier 4 Bus loss"},{"addr":"DB99,X121.7","name":"721M1 Rouleau avant panier 4 Contacteur"},{"addr":"DB99,X123.0","name":"722M1 Rouleau panier 4 Pas démarrer"},{"addr":"DB99,X123.1","name":"722M1 Rouleau panier 4 Pas marcher"},{"addr":"DB99,X123.2","name":"722M1 Rouleau panier 4 Sécurité"},{"addr":"DB99,X123.3","name":"722M1 Rouleau panier 4 NotHealthy"},{"addr":"DB99,X123.4","name":"722M1 Rouleau panier 4 Alarme frein"},{"addr":"DB99,X123.5","name":"722M1 Rouleau panier 4 Alimentation"},{"addr":"DB99,X123.6","name":"722M1 Rouleau panier 4 Bus loss"},{"addr":"DB99,X123.7","name":"722M1 Rouleau panier 4 Contacteur"},{"addr":"DB99,X125.0","name":"723M1 Rouleau avant panier 5 Pas démarrer"},{"addr":"DB99,X125.1","name":"723M1 Rouleau avant panier 5 Pas marcher"},{"addr":"DB99,X125.2","name":"723M1 Rouleau avant panier 5 Sécurité"},{"addr":"DB99,X125.3","name":"723M1 Rouleau avant panier 5 NotHealthy"},{"addr":"DB99,X125.4","name":"723M1 Rouleau avant panier 5 Alarme frein"},{"addr":"DB99,X125.5","name":"723M1 Rouleau avant panier 5 Alimentation"},{"addr":"DB99,X125.6","name":"723M1 Rouleau avant panier 5 Bus loss"},{"addr":"DB99,X125.7","name":"723M1 Rouleau avant panier 5 Contacteur"},{"addr":"DB99,X127.0","name":"724M1 Rouleau panier 5 Pas démarrer"},{"addr":"DB99,X127.1","name":"724M1 Rouleau panier 5 Pas marcher"},{"addr":"DB99,X127.2","name":"724M1 Rouleau panier 5 Sécurité"},{"addr":"DB99,X127.3","name":"724M1 Rouleau panier 5 NotHealthy"},{"addr":"DB99,X127.4","name":"724M1 Rouleau panier 5 Alarme frein"},{"addr":"DB99,X127.5","name":"724M1 Rouleau panier 5 Alimentation"},{"addr":"DB99,X127.6","name":"724M1 Rouleau panier 5 Bus loss"},{"addr":"DB99,X127.7","name":"724M1 Rouleau panier 5 Contacteur"},{"addr":"DB99,X133.0","name":"727M1 Charriot 1-2 tête ventilo 1 Pas démarrer"},{"addr":"DB99,X133.1","name":"727M1 Charriot 1-2 tête ventilo 1 Pas marcher"},{"addr":"DB99,X133.2","name":"727M1 Charriot 1-2 tête ventilo 1 Sécurité"},{"addr":"DB99,X133.3","name":"727M1 Charriot 1-2 tête ventilo 1 NotHealthy"},{"addr":"DB99,X133.4","name":"727M1 Charriot 1-2 tête ventilo 1 Alarme frein"},{"addr":"DB99,X133.5","name":"727M1 Charriot 1-2 tête ventilo 1 Alimentation"},{"addr":"DB99,X133.6","name":"727M1 Charriot 1-2 tête ventilo 1 Bus loss"},{"addr":"DB99,X133.7","name":"727M1 Charriot 1-2 tête ventilo 1 Contacteur"},{"addr":"DB99,X135.0","name":"728M1 Charriot 1-2 tête ventilo 2 Pas démarrer"},{"addr":"DB99,X135.1","name":"728M1 Charriot 1-2 tête ventilo 2 Pas marcher"},{"addr":"DB99,X135.2","name":"728M1 Charriot 1-2 tête ventilo 2 Sécurité"},{"addr":"DB99,X135.3","name":"728M1 Charriot 1-2 tête ventilo 2 NotHealthy"},{"addr":"DB99,X135.4","name":"728M1 Charriot 1-2 tête ventilo 2 Alarme frein"},{"addr":"DB99,X135.5","name":"728M1 Charriot 1-2 tête ventilo 2 Alimentation"},{"addr":"DB99,X135.6","name":"728M1 Charriot 1-2 tête ventilo 2 Bus loss"},{"addr":"DB99,X135.7","name":"728M1 Charriot 1-2 tête ventilo 2 Contacteur"},{"addr":"DB99,X137.0","name":"729M1 Charriot 1-2 tête transfert Pas démarrer"},{"addr":"DB99,X137.1","name":"729M1 Charriot 1-2 tête transfert Pas marcher"},{"addr":"DB99,X137.2","name":"729M1 Charriot 1-2 tête transfert Sécurité"},{"addr":"DB99,X137.3","name":"729M1 Charriot 1-2 tête transfert NotHealthy"},{"addr":"DB99,X137.4","name":"729M1 Charriot 1-2 tête transfert Alarme frein"},{"addr":"DB99,X137.5","name":"729M1 Charriot 1-2 tête transfert Alimentation"},{"addr":"DB99,X137.6","name":"729M1 Charriot 1-2 tête transfert Bus loss"},{"addr":"DB99,X137.7","name":"729M1 Charriot 1-2 tête transfert Contacteur"},{"addr":"DB99,X139.0","name":"730M1 Charriot 3-4 tête ventilo 1 Pas démarrer"},{"addr":"DB99,X139.1","name":"730M1 Charriot 3-4 tête ventilo 1 Pas marcher"},{"addr":"DB99,X139.2","name":"730M1 Charriot 3-4 tête ventilo 1 Sécurité"},{"addr":"DB99,X139.3","name":"730M1 Charriot 3-4 tête ventilo 1 NotHealthy"},{"addr":"DB99,X139.4","name":"730M1 Charriot 3-4 tête ventilo 1 Alarme frein"},{"addr":"DB99,X139.5","name":"730M1 Charriot 3-4 tête ventilo 1 Alimentation"},{"addr":"DB99,X139.6","name":"730M1 Charriot 3-4 tête ventilo 1 Bus loss"},{"addr":"DB99,X139.7","name":"730M1 Charriot 3-4 tête ventilo 1 Contacteur"},{"addr":"DB99,X141.0","name":"731M1 Charriot 3-4 tête ventilo 2 Pas démarrer"},{"addr":"DB99,X141.1","name":"731M1 Charriot 3-4 tête ventilo 2 Pas marcher"},{"addr":"DB99,X141.2","name":"731M1 Charriot 3-4 tête ventilo 2 Sécurité"},{"addr":"DB99,X141.3","name":"731M1 Charriot 3-4 tête ventilo 2 NotHealthy"},{"addr":"DB99,X141.4","name":"731M1 Charriot 3-4 tête ventilo 2 Alarme frein"},{"addr":"DB99,X141.5","name":"731M1 Charriot 3-4 tête ventilo 2 Alimentation"},{"addr":"DB99,X141.6","name":"731M1 Charriot 3-4 tête ventilo 2 Bus loss"},{"addr":"DB99,X141.7","name":"731M1 Charriot 3-4 tête ventilo 2 Contacteur"},{"addr":"DB99,X143.0","name":"732M1 Charriot 3-4 tête transfert Pas démarrer"},{"addr":"DB99,X143.1","name":"732M1 Charriot 3-4 tête transfert Pas marcher"},{"addr":"DB99,X143.2","name":"732M1 Charriot 3-4 tête transfert Sécurité"},{"addr":"DB99,X143.3","name":"732M1 Charriot 3-4 tête transfert NotHealthy"},{"addr":"DB99,X143.4","name":"732M1 Charriot 3-4 tête transfert Alarme frein"},{"addr":"DB99,X143.5","name":"732M1 Charriot 3-4 tête transfert Alimentation"},{"addr":"DB99,X143.6","name":"732M1 Charriot 3-4 tête transfert Bus loss"},{"addr":"DB99,X143.7","name":"732M1 Charriot 3-4 tête transfert Contacteur"},{"addr":"DB99,X145.0","name":"733M1 Ventilo aspiration Pas démarrer"},{"addr":"DB99,X145.1","name":"733M1 Ventilo aspiration Pas marcher"},{"addr":"DB99,X145.2","name":"733M1 Ventilo aspiration Sécurité"},{"addr":"DB99,X145.3","name":"733M1 Ventilo aspiration NotHealthy"},{"addr":"DB99,X145.4","name":"733M1 Ventilo aspiration Alarme frein"},{"addr":"DB99,X145.5","name":"733M1 Ventilo aspiration Alimentation"},{"addr":"DB99,X145.6","name":"733M1 Ventilo aspiration Bus loss"},{"addr":"DB99,X145.7","name":"733M1 Ventilo aspiration Contacteur"},{"addr":"DB99,X159.0","name":"740M1 Ventilo aspiration Pas démarrer"},{"addr":"DB99,X159.1","name":"740M1 Ventilo aspiration Pas marcher"},{"addr":"DB99,X159.2","name":"740M1 Ventilo aspiration Sécurité"},{"addr":"DB99,X159.3","name":"740M1 Ventilo aspiration NotHealthy"},{"addr":"DB99,X159.4","name":"740M1 Ventilo aspiration Alarme frein"},{"addr":"DB99,X159.5","name":"740M1 Ventilo aspiration Alimentation"},{"addr":"DB99,X159.6","name":"740M1 Ventilo aspiration Bus loss"},{"addr":"DB99,X159.7","name":"740M1 Ventilo aspiration Contacteur"},{"addr":"DB99,X161.0","name":"741M1 Convoyeur plateforme 1-2 Pas démarrer"},{"addr":"DB99,X161.1","name":"741M1 Convoyeur plateforme 1-2 Pas marcher"},{"addr":"DB99,X161.2","name":"741M1 Convoyeur plateforme 1-2 Sécurité"},{"addr":"DB99,X161.3","name":"741M1 Convoyeur plateforme 1-2 NotHealthy"},{"addr":"DB99,X161.4","name":"741M1 Convoyeur plateforme 1-2 Alarme frein"},{"addr":"DB99,X161.5","name":"741M1 Convoyeur plateforme 1-2 Alimentation"},{"addr":"DB99,X161.6","name":"741M1 Convoyeur plateforme 1-2 Bus loss"},{"addr":"DB99,X161.7","name":"741M1 Convoyeur plateforme 1-2 Contacteur"},{"addr":"DB99,X163.0","name":"742M1 Convoyeur plateforme 3-4 Pas démarrer"},{"addr":"DB99,X163.1","name":"742M1 Convoyeur plateforme 3-4 Pas marcher"},{"addr":"DB99,X163.2","name":"742M1 Convoyeur plateforme 3-4 Sécurité"},{"addr":"DB99,X163.3","name":"742M1 Convoyeur plateforme 3-4 NotHealthy"},{"addr":"DB99,X163.4","name":"742M1 Convoyeur plateforme 3-4 Alarme frein"},{"addr":"DB99,X163.5","name":"742M1 Convoyeur plateforme 3-4 Alimentation"},{"addr":"DB99,X163.6","name":"742M1 Convoyeur plateforme 3-4 Bus loss"},{"addr":"DB99,X163.7","name":"742M1 Convoyeur plateforme 3-4 Contacteur"},{"addr":"DB99,X165.0","name":"743M1 Convoyeur 1 Pas démarrer"},{"addr":"DB99,X165.1","name":"743M1 Convoyeur 1 Pas marcher"},{"addr":"DB99,X165.2","name":"743M1 Convoyeur 1 Sécurité"},{"addr":"DB99,X165.3","name":"743M1 Convoyeur 1 NotHealthy"},{"addr":"DB99,X165.4","name":"743M1 Convoyeur 1 Alarme frein"},{"addr":"DB99,X165.5","name":"743M1 Convoyeur 1 Alimentation"},{"addr":"DB99,X165.6","name":"743M1 Convoyeur 1 Bus loss"},{"addr":"DB99,X165.7","name":"743M1 Convoyeur 1 Contacteur"},{"addr":"DB99,X167.0","name":"744M1 Convoyeur 2 Pas démarrer"},{"addr":"DB99,X167.1","name":"744M1 Convoyeur 2 Pas marcher"},{"addr":"DB99,X167.2","name":"744M1 Convoyeur 2 Sécurité"},{"addr":"DB99,X167.3","name":"744M1 Convoyeur 2 NotHealthy"},{"addr":"DB99,X167.4","name":"744M1 Convoyeur 2 Alarme frein"},{"addr":"DB99,X167.5","name":"744M1 Convoyeur 2 Alimentation"},{"addr":"DB99,X167.6","name":"744M1 Convoyeur 2 Bus loss"},{"addr":"DB99,X167.7","name":"744M1 Convoyeur 2 Contacteur"},{"addr":"DB99,X169.0","name":"745M1 Convoyeur rebuts Pas démarrer"},{"addr":"DB99,X169.1","name":"745M1 Convoyeur rebuts Pas marcher"},{"addr":"DB99,X169.2","name":"745M1 Convoyeur rebuts Sécurité"},{"addr":"DB99,X169.3","name":"745M1 Convoyeur rebuts NotHealthy"},{"addr":"DB99,X169.4","name":"745M1 Convoyeur rebuts Alarme frein"},{"addr":"DB99,X169.5","name":"745M1 Convoyeur rebuts Alimentation"},{"addr":"DB99,X169.6","name":"745M1 Convoyeur rebuts Bus loss"},{"addr":"DB99,X169.7","name":"745M1 Convoyeur rebuts Contacteur"},{"addr":"DB99,X171.0","name":"746M1 Convoyeur après rebut Pas démarrer"},{"addr":"DB99,X171.1","name":"746M1 Convoyeur après rebut Pas marcher"},{"addr":"DB99,X171.2","name":"746M1 Convoyeur après rebut Sécurité"},{"addr":"DB99,X171.3","name":"746M1 Convoyeur après rebut NotHealthy"},{"addr":"DB99,X171.4","name":"746M1 Convoyeur après rebut Alarme frein"},{"addr":"DB99,X171.5","name":"746M1 Convoyeur après rebut Alimentation"},{"addr":"DB99,X171.6","name":"746M1 Convoyeur après rebut Bus loss"},{"addr":"DB99,X171.7","name":"746M1 Convoyeur après rebut Contacteur"},{"addr":"DB99,X173.0","name":"747M1 Rouleau alignement Pas démarrer"},{"addr":"DB99,X173.1","name":"747M1 Rouleau alignement Pas marcher"},{"addr":"DB99,X173.2","name":"747M1 Rouleau alignement Sécurité"},{"addr":"DB99,X173.3","name":"747M1 Rouleau alignement NotHealthy"},{"addr":"DB99,X173.4","name":"747M1 Rouleau alignement Alarme frein"},{"addr":"DB99,X173.5","name":"747M1 Rouleau alignement Alimentation"},{"addr":"DB99,X173.6","name":"747M1 Rouleau alignement Bus loss"},{"addr":"DB99,X173.7","name":"747M1 Rouleau alignement Contacteur"},{"addr":"DB99,X175.0","name":"748M1 Convoyeur colle Pas démarrer"},{"addr":"DB99,X175.1","name":"748M1 Convoyeur colle Pas marcher"},{"addr":"DB99,X175.2","name":"748M1 Convoyeur colle Sécurité"},{"addr":"DB99,X175.3","name":"748M1 Convoyeur colle NotHealthy"},{"addr":"DB99,X175.4","name":"748M1 Convoyeur colle Alarme frein"},{"addr":"DB99,X175.5","name":"748M1 Convoyeur colle Alimentation"},{"addr":"DB99,X175.6","name":"748M1 Convoyeur colle Bus loss"},{"addr":"DB99,X175.7","name":"748M1 Convoyeur colle Contacteur"},{"addr":"DB99,X177.0","name":"748M2 Pressure belt Pas démarrer"},{"addr":"DB99,X177.1","name":"748M2 Pressure belt Pas marcher"},{"addr":"DB99,X177.2","name":"748M2 Pressure belt Sécurité"},{"addr":"DB99,X177.3","name":"748M2 Pressure belt NotHealthy"},{"addr":"DB99,X177.4","name":"748M2 Pressure belt Alarme frein"},{"addr":"DB99,X177.5","name":"748M2 Pressure belt Alimentation"},{"addr":"DB99,X177.6","name":"748M2 Pressure belt Bus loss"},{"addr":"DB99,X177.7","name":"748M2 Pressure belt Contacteur"},{"addr":"DB99,X179.0","name":"750M1 Charriot 5 ventilo Pas démarrer"},{"addr":"DB99,X179.1","name":"750M1 Charriot 5 ventilo Pas marcher"},{"addr":"DB99,X179.2","name":"750M1 Charriot 5 ventilo Sécurité"},{"addr":"DB99,X179.3","name":"750M1 Charriot 5 ventilo NotHealthy"},{"addr":"DB99,X179.4","name":"750M1 Charriot 5 ventilo Alarme frein"},{"addr":"DB99,X179.5","name":"750M1 Charriot 5 ventilo Alimentation"},{"addr":"DB99,X179.6","name":"750M1 Charriot 5 ventilo Bus loss"},{"addr":"DB99,X179.7","name":"750M1 Charriot 5 ventilo Contacteur"},{"addr":"DB99,X181.0","name":"751M1 Charriot 5 transfert Pas démarrer"},{"addr":"DB99,X181.1","name":"751M1 Charriot 5 transfert Pas marcher"},{"addr":"DB99,X181.2","name":"751M1 Charriot 5 transfert Sécurité"},{"addr":"DB99,X181.3","name":"751M1 Charriot 5 transfert NotHealthy"},{"addr":"DB99,X181.4","name":"751M1 Charriot 5 transfert Alarme frein"},{"addr":"DB99,X181.5","name":"751M1 Charriot 5 transfert Alimentation"},{"addr":"DB99,X181.6","name":"751M1 Charriot 5 transfert Bus loss"},{"addr":"DB99,X181.7","name":"751M1 Charriot 5 transfert Contacteur"},{"addr":"DB99,X201.0","name":"761M1 Convoyeur après colle Pas démarrer"},{"addr":"DB99,X201.1","name":"761M1 Convoyeur après colle Pas marcher"},{"addr":"DB99,X201.2","name":"761M1 Convoyeur après colle Sécurité"},{"addr":"DB99,X201.3","name":"761M1 Convoyeur après colle NotHealthy"},{"addr":"DB99,X201.4","name":"761M1 Convoyeur après colle Alarme frein"},{"addr":"DB99,X201.5","name":"761M1 Convoyeur après colle Alimentation"},{"addr":"DB99,X201.6","name":"761M1 Convoyeur après colle Bus loss"},{"addr":"DB99,X201.7","name":"761M1 Convoyeur après colle Contacteur"},{"addr":"DB99,X211.0","name":"766M1 Mouvement table Pas démarrer"},{"addr":"DB99,X211.1","name":"766M1 Mouvement table Pas marcher"},{"addr":"DB99,X211.2","name":"766M1 Mouvement table Sécurité"},{"addr":"DB99,X211.3","name":"766M1 Mouvement table NotHealthy"},{"addr":"DB99,X211.4","name":"766M1 Mouvement table Alarme frein"},{"addr":"DB99,X211.5","name":"766M1 Mouvement table Alimentation"},{"addr":"DB99,X211.6","name":"766M1 Mouvement table Bus loss"},{"addr":"DB99,X211.7","name":"766M1 Mouvement table Contacteur"},{"addr":"DB99,X213.0","name":"767M1 Convoyeur table Pas démarrer"},{"addr":"DB99,X213.1","name":"767M1 Convoyeur table Pas marcher"},{"addr":"DB99,X213.2","name":"767M1 Convoyeur table Sécurité"},{"addr":"DB99,X213.3","name":"767M1 Convoyeur table NotHealthy"},{"addr":"DB99,X213.4","name":"767M1 Convoyeur table Alarme frein"},{"addr":"DB99,X213.5","name":"767M1 Convoyeur table Alimentation"},{"addr":"DB99,X213.6","name":"767M1 Convoyeur table Bus loss"},{"addr":"DB99,X213.7","name":"767M1 Convoyeur table Contacteur"},{"addr":"DB99,X217.0","name":"769M1 Rouleau fin de ligne Pas démarrer"},{"addr":"DB99,X217.1","name":"769M1 Rouleau fin de ligne Pas marcher"},{"addr":"DB99,X217.2","name":"769M1 Rouleau fin de ligne Sécurité"},{"addr":"DB99,X217.3","name":"769M1 Rouleau fin de ligne NotHealthy"},{"addr":"DB99,X217.4","name":"769M1 Rouleau fin de ligne Alarme frein"},{"addr":"DB99,X217.5","name":"769M1 Rouleau fin de ligne Alimentation"},{"addr":"DB99,X217.6","name":"769M1 Rouleau fin de ligne Bus loss"},{"addr":"DB99,X217.7","name":"769M1 Rouleau fin de ligne Contacteur"},{"addr":"DB99,X227.0","name":"774M1 Convoyeur plateforme 5 Pas démarrer"},{"addr":"DB99,X227.1","name":"774M1 Convoyeur plateforme 5 Pas marcher"},{"addr":"DB99,X227.2","name":"774M1 Convoyeur plateforme 5 Sécurité"},{"addr":"DB99,X227.3","name":"774M1 Convoyeur plateforme 5 NotHealthy"},{"addr":"DB99,X227.4","name":"774M1 Convoyeur plateforme 5 Alarme frein"},{"addr":"DB99,X227.5","name":"774M1 Convoyeur plateforme 5 Alimentation"},{"addr":"DB99,X227.6","name":"774M1 Convoyeur plateforme 5 Bus loss"},{"addr":"DB99,X227.7","name":"774M1 Convoyeur plateforme 5 Contacteur"},{"addr":"DB99,X233.0","name":"777M1 Pile feeder Pas démarrer"},{"addr":"DB99,X233.1","name":"777M1 Pile feeder Pas marcher"},{"addr":"DB99,X233.2","name":"777M1 Pile feeder Sécurité"},{"addr":"DB99,X233.3","name":"777M1 Pile feeder NotHealthy"},{"addr":"DB99,X233.4","name":"777M1 Pile feeder Alarme frein"},{"addr":"DB99,X233.5","name":"777M1 Pile feeder Alimentation"},{"addr":"DB99,X233.6","name":"777M1 Pile feeder Bus loss"},{"addr":"DB99,X233.7","name":"777M1 Pile feeder Contacteur"},{"addr":"DB99,X235.0","name":"778M1 Pile rouleau convoyeur Pas démarrer"},{"addr":"DB99,X235.1","name":"778M1 Pile rouleau convoyeur Pas marcher"},{"addr":"DB99,X235.2","name":"778M1 Pile rouleau convoyeur Sécurité"},{"addr":"DB99,X235.3","name":"778M1 Pile rouleau convoyeur NotHealthy"},{"addr":"DB99,X235.4","name":"778M1 Pile rouleau convoyeur Alarme frein"},{"addr":"DB99,X235.5","name":"778M1 Pile rouleau convoyeur Alimentation"},{"addr":"DB99,X235.6","name":"778M1 Pile rouleau convoyeur Bus loss"},{"addr":"DB99,X235.7","name":"778M1 Pile rouleau convoyeur Contacteur"},{"addr":"DB99,X237.0","name":"779M1 Rouleau convoyeur fin ligne Pas démarrer"},{"addr":"DB99,X237.1","name":"779M1 Rouleau convoyeur fin ligne Pas marcher"},{"addr":"DB99,X237.2","name":"779M1 Rouleau convoyeur fin ligne Sécurité"},{"addr":"DB99,X237.3","name":"779M1 Rouleau convoyeur fin ligne NotHealthy"},{"addr":"DB99,X237.4","name":"779M1 Rouleau convoyeur fin ligne Alarme frein"},{"addr":"DB99,X237.5","name":"779M1 Rouleau convoyeur fin ligne Alimentation"},{"addr":"DB99,X237.6","name":"779M1 Rouleau convoyeur fin ligne Bus loss"},{"addr":"DB99,X237.7","name":"779M1 Rouleau convoyeur fin ligne Contacteur"},{"addr":"DB99,X239.0","name":"780M1 Pile transport convoyeur Pas démarrer"},{"addr":"DB99,X239.1","name":"780M1 Pile transport convoyeur Pas marcher"},{"addr":"DB99,X239.2","name":"780M1 Pile transport convoyeur Sécurité"},{"addr":"DB99,X239.3","name":"780M1 Pile transport convoyeur NotHealthy"},{"addr":"DB99,X239.4","name":"780M1 Pile transport convoyeur Alarme frein"},{"addr":"DB99,X239.5","name":"780M1 Pile transport convoyeur Alimentation"},{"addr":"DB99,X239.6","name":"780M1 Pile transport convoyeur Bus loss"},{"addr":"DB99,X239.7","name":"780M1 Pile transport convoyeur Contacteur"},{"addr":"DB99,X241.0","name":"781M1 Pile transfert Pas démarrer"},{"addr":"DB99,X241.1","name":"781M1 Pile transfert Pas marcher"},{"addr":"DB99,X241.2","name":"781M1 Pile transfert Sécurité"},{"addr":"DB99,X241.3","name":"781M1 Pile transfert NotHealthy"},{"addr":"DB99,X241.4","name":"781M1 Pile transfert Alarme frein"},{"addr":"DB99,X241.5","name":"781M1 Pile transfert Alimentation"},{"addr":"DB99,X241.6","name":"781M1 Pile transfert Bus loss"},{"addr":"DB99,X241.7","name":"781M1 Pile transfert Contacteur"},{"addr":"DB99,X270.0","name":"HV Panier 1 bas/haut"},{"addr":"DB99,X270.1","name":"HV Panier 2 bas/haut"},{"addr":"DB99,X270.2","name":"HV Panier 3 bas/haut"},{"addr":"DB99,X270.3","name":"HV Panier 4 bas/haut"},{"addr":"DB99,X270.4","name":"HV Panier 5 bas/haut"},{"addr":"DB99,X270.6","name":"HV Panier colle bas/haut"},{"addr":"DB99,X271.2","name":"AV charriot 1 end bas/haut"},{"addr":"DB99,X271.3","name":"AV charriot 1 front bas/haut"},{"addr":"DB99,X271.4","name":"AV charriot 1 tête aspiration"},{"addr":"DB99,X271.6","name":"AV charriot 2 end bas/haut"},{"addr":"DB99,X271.7","name":"AV charriot 2 front bas/haut"},{"addr":"DB99,X272.0","name":"AV charriot 2 tête aspiration"},{"addr":"DB99,X272.2","name":"AV charriot 3 end bas/haut"},{"addr":"DB99,X272.3","name":"AV charriot 3 front bas/haut"},{"addr":"DB99,X272.4","name":"AV charriot 3 tête aspiration"},{"addr":"DB99,X272.6","name":"AV charriot 4 end bas/haut"},{"addr":"DB99,X272.7","name":"AV charriot 4 front bas/haut"},{"addr":"DB99,X273.0","name":"AV charriot 4 tête aspiration"},{"addr":"DB99,X273.2","name":"AV charriot 5 end bas/haut"},{"addr":"DB99,X273.4","name":"AV charriot 5 front bas/haut"},{"addr":"DB99,X273.5","name":"AV charriot 5 tête aspiration"},{"addr":"DB99,X274.2","name":"AV 741M1 Convoyeur avec table bas/haut"},{"addr":"DB99,X274.3","name":"AV 742M1 Convoyeur avec table bas/haut"},{"addr":"DB99,X274.4","name":"AV 745M1 Convoyeur rebut bas/haut"},{"addr":"DB99,X275.4","name":"AV 774M1 Face convoyeur table bas/haut"},{"addr":"DB99,X328.2","name":"729M1 Charriot 1-2 transfert"},{"addr":"DB99,X328.3","name":"730M1 Charriot 3-4 transfert"},{"addr":"DB99,X328.4","name":"736M1 pompe colle"},{"addr":"DB99,X328.5","name":"739M1 agitateur"},{"addr":"DB99,X328.6","name":"740M1 Convoyeur Disc"},{"addr":"DB99,X328.7","name":"741M1 Convoyeur table 1-2"},{"addr":"DB99,X329.0","name":"742M1 Convoyeur table 3-4"},{"addr":"DB99,X329.1","name":"743M1 Convoyeur 1"},{"addr":"DB99,X329.2","name":"744M1 Convoyeur 2"},{"addr":"DB99,X329.3","name":"745M1 Table rebut convoyeur"},{"addr":"DB99,X329.4","name":"746M1 Convoyeur après rebut"},{"addr":"DB99,X329.5","name":"747M1 rouleau alignement"},{"addr":"DB99,X329.6","name":"748M1 Convoyeur colle"},{"addr":"DB99,X329.7","name":"748M2 Pressure Belts"},{"addr":"DB99,X330.0","name":"751M1 Charriot 5 transfort"},{"addr":"DB99,X330.1","name":"761M1 Convoyeur après colle"},{"addr":"DB99,X330.2","name":"766M1 Mouvement table"},{"addr":"DB99,X330.3","name":"767M1 Convoyeur table"},{"addr":"DB99,X330.4","name":"774M1 Convoyeur table 5"}]},{"id":"a23b8139.bcb8f","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Shift production volume","vartable":[{"addr":"DB98,DI96","name":"placage"},{"addr":"DB98,DI92","name":"panneau"},{"addr":"DB98,DI100","name":"pile"},{"addr":"DB93,S4.64","name":"recette"},{"addr":"DB98,WORD76","name":"volume"},{"addr":"DB465,DI88","name":"rebuts"}]},{"id":"b427b3cc.f973c","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Total Production","vartable":[{"addr":"DB1098,DI52","name":"panneau"},{"addr":"DB1098,DI56","name":"placage"},{"addr":"DB1098,DI60","name":"pile"},{"addr":"DB1098,WORD72","name":"volume"},{"addr":"DB98,DI700","name":"rebuts"}]},{"id":"58030ad4.ecbf34","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Reset équipe","vartable":[{"addr":"DB98,DI52","name":"panneau"},{"addr":"DB98,DI56","name":"placage"},{"addr":"DB98,DI60","name":"pile"},{"addr":"DB98,WORD72","name":"volume"},{"addr":"DB465,DI92","name":"rebuts"}]}]