flows (2).json
[{"id":"f8409cb8.8e0fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"632b415d.6db2","type":"s7 in","z":"f8409cb8.8e0fc","endpoint":"4cfef451.f6e44c","mode":"all","variable":"ShiftProductionVolume","diff":true,"name":"Shift production volume","x":144,"y":72,"wires":[["5cfe29a1.7f2b88","ffed125d.40979"]]},{"id":"e695b899.c03168","type":"s7 in","z":"f8409cb8.8e0fc","endpoint":"bece0a41.fa2c08","mode":"all","variable":"","diff":true,"name":"Total Production Volume","x":155,"y":235,"wires":[["fd7a788e.25eea8","cc9f7b96.09eb38"]]},{"id":"5cfe29a1.7f2b88","type":"debug","z":"f8409cb8.8e0fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":314,"y":132,"wires":[]},{"id":"fd7a788e.25eea8","type":"debug","z":"f8409cb8.8e0fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":314,"y":172,"wires":[]},{"id":"935d5a66.1f5a08","type":"s7 in","z":"f8409cb8.8e0fc","endpoint":"738d4304.07fafc","mode":"all-split","variable":"","diff":true,"name":"Defaults","x":104,"y":392,"wires":[["2e5f2681.c2078a","76821b47.69ae94","682ab7e0.475e08"]]},{"id":"2e5f2681.c2078a","type":"debug","z":"f8409cb8.8e0fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":294,"y":472,"wires":[]},{"id":"5e90da40.074244","type":"debug","z":"f8409cb8.8e0fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":514,"y":432,"wires":[]},{"id":"5abcccd7.47ba84","type":"debug","z":"f8409cb8.8e0fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":554,"y":232,"wires":[]},{"id":"8f4ea517.361548","type":"debug","z":"f8409cb8.8e0fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":534,"y":72,"wires":[]},{"id":"76821b47.69ae94","type":"debug","z":"f8409cb8.8e0fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":304,"y":430,"wires":[]},{"id":"c8f78025.2cec8","type":"file","z":"f8409cb8.8e0fc","name":"shift","filename":"C:\\Users\\Atelier\\Documents\\shift.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":536,"y":22,"wires":[[]]},{"id":"cd2d7477.e99b08","type":"file","z":"f8409cb8.8e0fc","name":"total","filename":"C:\\Users\\Atelier\\Documents\\total","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":535,"y":285,"wires":[[]]},{"id":"899dad19.05197","type":"file","z":"f8409cb8.8e0fc","name":"defaut","filename":"C:\\Users\\Atelier\\Documents\\defaut.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":495,"y":383,"wires":[[]]},{"id":"ffed125d.40979","type":"function","z":"f8409cb8.8e0fc","name":"convert shift","func":"var value = msg.payload;\nvar Query;\ncontext.set('bit_init', value.Recipe);\nvar trigger = context.get('bit_init');\nvar BitOk = context.get('bitok');\nvar valreturn;\n\nif((trigger != value.Recipe) || (BitOk != value.Recipe)){\n    context.set('values',value);\n    valreturn = context.get('values');\n    context.set('bitok', value.Recipe);\n    Query = \"INSERT INTO total(Recette, Feuille, Planche, Stack) VALUES ('\"+valreturn.Recipe+\"','\"+valreturn.ShiftProducedBillet+\"','\"+valreturn.ShiftProducedVeneer+\"','\"+valreturn.ShiftProducedStack+\"');\";\n    msg.payload = Query; \n    return msg;\n}else if(BitOk != value.Recipe){\n    context.set('bitok', value.Recipe);\n    valreturn = context.get('values');\n    Query = \"INSERT INTO total(Recette, Feuille, Planche, Stack) VALUES ('\"+valreturn.Recipe+\"','\"+valreturn.ShiftProducedBillet+\"','\"+valreturn.ShiftProducedVeneer+\"','\"+valreturn.ShiftProducedStack+\"');\";\n    msg.payload = Query;\n    return msg;\n}else{\ncontext.set('values',value);\n}","outputs":1,"noerr":0,"x":358,"y":71,"wires":[["8f4ea517.361548","c8f78025.2cec8"]]},{"id":"cc9f7b96.09eb38","type":"function","z":"f8409cb8.8e0fc","name":"convert total","func":"var value = msg.payload;\nvar Query;\ncontext.set('bit_init', value.Reset);\nvar trigger = context.get('bit_init');\nvar BitOk = context.get('bitok');\nvar valreturn;\n\nif((trigger != value.Reset) || (BitOk != value.Reset)){\n    context.set('values',value);\n    valreturn = context.get('values');\n    context.set('bitok', value.Reset);\n    Query = \"INSERT INTO total(Equipe, Feuille, Planche, Stack) VALUES ('\"+valreturn.Reset+\"','\"+valreturn.TotalProducedVeneer+\"','\"+valreturn.TotalProducedBillet+\"','\"+valreturn.TotalProducedStack+\"');\";\n    msg.payload = Query; \n    return msg;\n}else if(BitOk != value.Recipe){\n    context.set('bitok', value.Recipe);\n    valreturn = context.get('values');\n    Query = \"INSERT INTO total(Equipe, Feuille, Planche, Stack) VALUES ('\"+valreturn.Reset+\"','\"+valreturn.TotalProducedVeneer+\"','\"+valreturn.TotalProducedBillet+\"','\"+valreturn.TotalProducedStack+\"');\";\n    msg.payload = Query;\n    return msg;\n}else{\ncontext.set('values',value);\n}","outputs":1,"noerr":0,"x":370,"y":234,"wires":[["5abcccd7.47ba84","cd2d7477.e99b08"]]},{"id":"682ab7e0.475e08","type":"function","z":"f8409cb8.8e0fc","name":"defaut","func":"var payload = msg.payload;\nvar topic = msg.topic;\nvar Query;\n\nQuery = \"INSERT INTO Defauts(Nom, Etat) VALUES ('\"+topic+\"','\"+payload+\"');\";\nmsg.payload = Query;\n\nreturn msg;","outputs":1,"noerr":0,"x":279,"y":386,"wires":[["899dad19.05197","5e90da40.074244"]]},{"id":"4cfef451.f6e44c","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Shift production volume","vartable":[{"addr":"DB98,DI96","name":"ShiftProducedVeneer"},{"addr":"DB98,DI92","name":"ShiftProducedBillet"},{"addr":"DB98,DI100","name":"ShiftProducedStack"},{"addr":"DB93,C4","name":"Recipe"}]},{"id":"bece0a41.fa2c08","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Total Production","vartable":[{"addr":"DB98,DI52","name":"TotalProducedBillet"},{"addr":"DB98,DI56","name":"TotalProducedVeneer"},{"addr":"DB98,DI60","name":"TotalProducedStack"},{"addr":"DB97,X0.1","name":"Reset"}]},{"id":"738d4304.07fafc","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Defaults","vartable":[{"addr":"DB99,X40.1","name":"Arrêt d'urgence"},{"addr":"DB99,X40.2","name":"Communication automate 1"},{"addr":"DB99,X40.3","name":"Communication automate 2"},{"addr":"DB99,X40.4","name":"Zone 1 Ok"},{"addr":"DB99,X40.5","name":"Zone 2 Ok"},{"addr":"DB99,X40.6","name":"Zone 3 Ok"},{"addr":"DB99,X40.7","name":"Zone 4 Ok"},{"addr":"DB99,X41.0","name":"Zone 4 Ok"},{"addr":"DB99,X41.1","name":"Chariot Zone 1"},{"addr":"DB99,X41.2","name":"Chariot Pression Zone 1"},{"addr":"DB99,X41.3","name":"Table Zone 1"},{"addr":"DB99,X41.4","name":"Table Pression Zone 1"},{"addr":"DB99,X41.5","name":"Table Zone 2"},{"addr":"DB99,X41.6","name":"Table Pression Zone 2"},{"addr":"DB99,X41.7","name":"Chariot Table Zone 3-4"},{"addr":"DB99,X42.0","name":"Pression pneumatique Zone 3-4"},{"addr":"DB99,X42.1","name":"Porte zone 1"},{"addr":"DB99,X42.2","name":"Porte zone 1-2"},{"addr":"DB99,X42.3","name":"Porte zone 3"},{"addr":"DB99,X42.4","name":"Porte 2 Zone 3"},{"addr":"DB99,X42.5","name":"Porte Zone 3-5"},{"addr":"DB99,X44.3","name":"Moteur Chariot 1"},{"addr":"DB99,X44.4","name":"Table 1 Off"},{"addr":"DB99,X44.5","name":"Moteur Chariot 2"},{"addr":"DB99,X44.6","name":"Table 2 Off"},{"addr":"DB99,X44.7","name":"Moteur Chariot 3"},{"addr":"DB99,X45.0","name":"Table 3 Off"},{"addr":"DB99,X45.1","name":"Moteur Chariot 4"},{"addr":"DB99,X45.2","name":"Table 4 Off"},{"addr":"DB99,X45.3","name":"Moteur Chariot 5"},{"addr":"DB99,X45.4","name":"Table 5 Off"},{"addr":"DB99,X45.5","name":"Table 5 Mouvement Off"},{"addr":"DB99,X45.7","name":"Table 3 basse"},{"addr":"DB99,X46.0","name":"Plaque inférieur"},{"addr":"DB99,X46.1","name":"Convoyeur pile"},{"addr":"DB99,X46.2","name":"Valve 1-2 ouverte Zone 2"},{"addr":"DB99,X46.3","name":"Moteur pile en sortie"},{"addr":"DB99,X46.4","name":"Rideau lumière chariot 1"},{"addr":"DB99,X46.5","name":"Rideau lumière chariot 3"},{"addr":"DB99,X46.6","name":"Rideau lumière chariot 1+3"},{"addr":"DB99,X46.7","name":"Rideau lumière Droite zone 2"},{"addr":"DB99,X48.3","name":"ProtectionPieds Chariot 1"},{"addr":"DB99,X48.4","name":"ProtectionPieds Chariot 2"},{"addr":"DB99,X48.5","name":"ProtectionPieds Chariot 3"},{"addr":"DB99,X48.6","name":"ProtectionPieds Chariot 4"},{"addr":"DB99,X48.7","name":"Air pour glue Off"},{"addr":"DB99,X49.0","name":"Pression Hydraulique basse"},{"addr":"DB99,X49.1","name":"Rideau lumière chariot 2"},{"addr":"DB99,X49.2","name":"Rideau lumière chariot 4"},{"addr":"DB99,X49.3","name":"Rideau lumière chariot 2+4"},{"addr":"DB99,X49.4","name":"Rideau lumière entre Zone 1-2"},{"addr":"DB99,X49.5","name":"Rideau lumière Gauche Zone 2"},{"addr":"DB99,X49.6","name":"Porte sécurité IG1 Zone 1-2"},{"addr":"DB99,X49.7","name":"Porte sécurité IG1 Zone 1-2"},{"addr":"DB99,X50.0","name":"Porte sécurité IG2 Zone 1-2 Gauche"},{"addr":"DB99,X50.1","name":"Rideau Lumière chariot 5 intérieur"},{"addr":"DB99,X50.2","name":"Rideau Lumière chariot 5 exterieur"},{"addr":"DB99,X50.3","name":"Porte sécurité IG4 Zone 1"},{"addr":"DB99,X52.4","name":"Protection pieds pile 5 Zone 3"},{"addr":"DB99,X52.5","name":"Protection pieds pile 5 Zone 5"},{"addr":"DB99,X52.6","name":"Rideau lumière pile 4 intérieur"},{"addr":"DB99,X52.7","name":"Rideau lumière pile 4 exterieur"},{"addr":"DB99,X53.0","name":"Rideau lumière convoyeur Zone 3 intérieur"},{"addr":"DB99,X53.1","name":"Rideau lumière convoyeur Zone 3 exterieur"},{"addr":"DB99,X53.2","name":"Rideau lumière sortie pile zone 3-5 intérieur"},{"addr":"DB99,X53.3","name":"Rideau lumière sortie pile zone 3-5 exterieur"},{"addr":"DB99,X53.4","name":"Porte sécurité IG5 Zone 3-5"}]}]