flows.json
[{"id":"792466ac.dc3d98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6edfb4f.b586d8","type":"s7 in","z":"792466ac.dc3d98","endpoint":"9225e9ed.6e5548","mode":"all","variable":"ShiftProductionVolume","diff":true,"name":"Shift production volume","x":140,"y":280,"wires":[["3e862e8a.66b832","9211105.73724f"]]},{"id":"9211105.73724f","type":"function","z":"792466ac.dc3d98","name":"Convert","func":"var payload = msg.payload;\nvar value = payload.value;\nvar Query;\ncontext.set('bit_init', value[3]);\nvar trigger = context.get(bit_init);\nvar BitOk = context.get(bitok);\nvar valreturn;\n\nif((trigger != value[3]) || (BitOk != value[3])){\n    context.set('values',value);\n    valreturn = context.get(values);\n    context.set('bitok', value[3]);\n    Query = \"INSERT INTO shift(Current_recipe, Feuille, Planche, Stack) VALUES ('\"+valreturn[3]+\"','\"+valreturn[0]+\"','\"+valreturn[1]+\"','\"+valreturn[2]+\"')\";\n    msg.topic = Query; \n    return msg;\n}else if(BitOk != value[3]){\n    context.set('bitok', value[3]);\n    valreturn = context.get(values);\n    Query = \"INSERT INTO shift(Current_recipe, Feuille, Planche, Stack) VALUES ('\"+valreturn[3]+\"','\"+valreturn[0]+\"','\"+valreturn[1]+\"','\"+valreturn[2]+\"')\";\n    msg.topic = Query;\n    return msg;\n}else{\n    context.set('values',value);\n}","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["5856f6ca.b631a8"]]},{"id":"cf5a06f6.1049a8","type":"function","z":"792466ac.dc3d98","name":"Convert","func":"var payload = msg.payload;\nvar value = payload.value;\nvar Query;\ncontext.set('bit_init', value[3]);\nvar trigger = context.get(bit_init);\nvar BitOk = context.get(bitok);\nvar valreturn;\n\nif((trigger != value[3]) || (BitOk != value[3])){\n    context.set('values',value);\n    valreturn = context.get(values);\n    context.set('bitok', value[3]);\n    Query = \"INSERT INTO total(Equipe, Feuille, Planche, Stack) VALUES ('\"+valreturn[3]+\"','\"+valreturn[1]+\"','\"+valreturn[0]+\"','\"+valreturn[2]+\"');\";\n    msg.topic = Query; \n    return msg;\n}else if(BitOk != value[3]){\n    context.set('bitok', value[3]);\n    valreturn = context.get(values);\n    Query = \"INSERT INTO total(Equipe, Feuille, Planche, Stack) VALUES ('\"+valreturn[3]+\"','\"+valreturn[1]+\"','\"+valreturn[0]+\"','\"+valreturn[2]+\"')\";\n    msg.topic = Query;\n    return msg;\n}else{\n    context.set('values',value);\n}","outputs":1,"noerr":0,"x":380,"y":480,"wires":[["8b3e69a8.1ab328"]]},{"id":"c7fed7b5.6318a8","type":"s7 in","z":"792466ac.dc3d98","endpoint":"b4a77b6c.51b7f8","mode":"all","variable":"","diff":true,"name":"Total Production Volume","x":150,"y":440,"wires":[["dcec08b2.8bd0c8","cf5a06f6.1049a8"]]},{"id":"3e862e8a.66b832","type":"debug","z":"792466ac.dc3d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":340,"wires":[]},{"id":"dcec08b2.8bd0c8","type":"debug","z":"792466ac.dc3d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":380,"wires":[]},{"id":"9c55525.0adfbb","type":"s7 in","z":"792466ac.dc3d98","endpoint":"7ffa8e52.dfa94","mode":"all-split","variable":"","diff":true,"name":"Defaults","x":100,"y":600,"wires":[["96dfa85a.149af8","3c8b001a.754e3"]]},{"id":"96dfa85a.149af8","type":"debug","z":"792466ac.dc3d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":680,"wires":[]},{"id":"3c8b001a.754e3","type":"function","z":"792466ac.dc3d98","name":"Default Query","func":"var payload = msg.payload;\nvar value = payload.value;\nvar topic = msg.topic;\nvar Query;\n\nQuery = \"INSERT INTO Defauts(Nom, Etat) VALUES ('\"+topic+\"','\"+value[0]+\"');\";\nmsg.topic = Query;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":600,"wires":[["b66fc5b6.c0bee8"]]},{"id":"b66fc5b6.c0bee8","type":"debug","z":"792466ac.dc3d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":640,"wires":[]},{"id":"8b3e69a8.1ab328","type":"debug","z":"792466ac.dc3d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":440,"wires":[]},{"id":"5856f6ca.b631a8","type":"debug","z":"792466ac.dc3d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":280,"wires":[]},{"id":"9225e9ed.6e5548","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Shift production volume","vartable":[{"addr":"DB98,DI96","name":"ShiftProducedVeneer"},{"addr":"DB98,DI92","name":"ShiftProducedBillet"},{"addr":"DB98,DI100","name":"ShiftProducedStack"},{"addr":"DB93,C4","name":"Recipe"}]},{"id":"b4a77b6c.51b7f8","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Total Production","vartable":[{"addr":"DB98,DI52","name":"TotalProducedBillet"},{"addr":"DB98,DI56","name":"TotalProducedVeneer"},{"addr":"DB98,DI60","name":"TotalProducedStack"},{"addr":"DB98,DR72","name":"TotalProductionVolume"},{"addr":"DB97,X0.1","name":"ResetCounter_1"},{"addr":"DB97,X0.2","name":"ResetCounter_2"}]},{"id":"7ffa8e52.dfa94","type":"s7 endpoint","z":"","address":"192.168.11.21","port":"102","rack":"0","slot":"3","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"Defaults","vartable":[{"addr":"DB99,X40.1","name":"Arrêt d'urgence"},{"addr":"DB99,X40.2","name":"Communication automate 1"},{"addr":"DB99,X40.3","name":"Communication automate 2"},{"addr":"DB99,X40.4","name":"Zone 1 Ok"},{"addr":"DB99,X40.5","name":"Zone 2 Ok"},{"addr":"DB99,X40.6","name":"Zone 3 Ok"},{"addr":"DB99,X40.7","name":"Zone 4 Ok"},{"addr":"DB99,X41.0","name":"Zone 4 Ok"},{"addr":"DB99,X41.1","name":"Chariot Zone 1"},{"addr":"DB99,X41.2","name":"Chariot Pression Zone 1"},{"addr":"DB99,X41.3","name":"Table Zone 1"},{"addr":"DB99,X41.4","name":"Table Pression Zone 1"},{"addr":"DB99,X41.5","name":"Table Zone 2"},{"addr":"DB99,X41.6","name":"Table Pression Zone 2"},{"addr":"DB99,X41.7","name":"Chariot Table Zone 3-4"},{"addr":"DB99,X42.0","name":"Pression pneumatique Zone 3-4"},{"addr":"DB99,X42.1","name":"Porte zone 1"},{"addr":"DB99,X42.2","name":"Porte zone 1-2"},{"addr":"DB99,X42.3","name":"Porte zone 3"},{"addr":"DB99,X42.4","name":"Porte 2 Zone 3"},{"addr":"DB99,X42.5","name":"Porte Zone 3-5"},{"addr":"DB99,X44.3","name":"Moteur Chariot 1"},{"addr":"DB99,X44.4","name":"Table 1 Off"},{"addr":"DB99,X44.5","name":"Moteur Chariot 2"},{"addr":"DB99,X44.6","name":"Table 2 Off"},{"addr":"DB99,X44.7","name":"Moteur Chariot 3"},{"addr":"DB99,X45.0","name":"Table 3 Off"},{"addr":"DB99,X45.1","name":"Moteur Chariot 4"},{"addr":"DB99,X45.2","name":"Table 4 Off"},{"addr":"DB99,X45.3","name":"Moteur Chariot 5"},{"addr":"DB99,X45.4","name":"Table 5 Off"},{"addr":"DB99,X45.5","name":"Table 5 Mouvement Off"},{"addr":"DB99,X45.7","name":"Table 3 basse"},{"addr":"DB99,X46.0","name":"Plaque inférieur"},{"addr":"DB99,X46.1","name":"Convoyeur pile"},{"addr":"DB99,X46.2","name":"Valve 1-2 ouverte Zone 2"},{"addr":"DB99,X46.3","name":"Moteur pile en sortie"},{"addr":"DB99,X46.4","name":"Rideau lumière chariot 1"},{"addr":"DB99,X46.5","name":"Rideau lumière chariot 3"},{"addr":"DB99,X46.6","name":"Rideau lumière chariot 1+3"},{"addr":"DB99,X46.7","name":"Rideau lumière Droite zone 2"},{"addr":"DB99,X48.3","name":"ProtectionPieds Chariot 1"},{"addr":"DB99,X48.4","name":"ProtectionPieds Chariot 2"},{"addr":"DB99,X48.5","name":"ProtectionPieds Chariot 3"},{"addr":"DB99,X48.6","name":"ProtectionPieds Chariot 4"},{"addr":"DB99,X48.7","name":"Air pour glue Off"},{"addr":"DB99,X49.0","name":"Pression Hydraulique basse"},{"addr":"DB99,X49.1","name":"Rideau lumière chariot 2"},{"addr":"DB99,X49.2","name":"Rideau lumière chariot 4"},{"addr":"DB99,X49.3","name":"Rideau lumière chariot 2+4"},{"addr":"DB99,X49.4","name":"Rideau lumière entre Zone 1-2"},{"addr":"DB99,X49.5","name":"Rideau lumière Gauche Zone 2"},{"addr":"DB99,X49.6","name":"Porte sécurité IG1 Zone 1-2"},{"addr":"DB99,X49.7","name":"Porte sécurité IG1 Zone 1-2"},{"addr":"DB99,X50.0","name":"Porte sécurité IG2 Zone 1-2 Gauche"},{"addr":"DB99,X50.1","name":"Rideau Lumière chariot 5 intérieur"},{"addr":"DB99,X50.2","name":"Rideau Lumière chariot 5 exterieur"},{"addr":"DB99,X50.3","name":"Porte sécurité IG4 Zone 1"},{"addr":"DB99,X52.4","name":"Protection pieds pile 5 Zone 3"},{"addr":"DB99,X52.5","name":"Protection pieds pile 5 Zone 5"},{"addr":"DB99,X52.6","name":"Rideau lumière pile 4 intérieur"},{"addr":"DB99,X52.7","name":"Rideau lumière pile 4 exterieur"},{"addr":"DB99,X53.0","name":"Rideau lumière convoyeur Zone 3 intérieur"},{"addr":"DB99,X53.1","name":"Rideau lumière convoyeur Zone 3 exterieur"},{"addr":"DB99,X53.2","name":"Rideau lumière sortie pile zone 3-5 intérieur"},{"addr":"DB99,X53.3","name":"Rideau lumière sortie pile zone 3-5 exterieur"},{"addr":"DB99,X53.4","name":"Porte sécurité IG5 Zone 3-5"}]}]