simulation.json
[{"id":"a3dce6f3.a40508","type":"tab","label":"DB98","disabled":false,"info":""},{"id":"5595e20.fb9c91c","type":"function","z":"a3dce6f3.a40508","name":"convert shift","func":"var value = msg.payload;\nvar trigger = context.get('values');\nvar valreturn;\nvar placage;\nvar ArretTotaux;\nvar Sp;\nvar defTimeR;\nvar Start;\nvar Temps;\nvar date = new Date();\nvar Matin = new Date()\nMatin.setHours(14,30);\nvar Aprem = new Date();\nAprem.setHours(15,0);\nvar Nuit = new Date();\nNuit.setHours(15,30);\nvar NuitV = new Date();\nNuitV.setHours(20,0);\nvar MatinV = new Date();\nMatinV.setHours(3,0);\n\nfunction moment(){\n    if((date.getDay() < 5) && (date.getDay() > 0)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){ \n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==Nuit.getTime() ){\n            return 'Aprem';\n        }else return false;\n    }else if ((date.getDay() == 5)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){\n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==NuitV.getTime() ){\n            return 'Aprem'\n        }else return false;\n    }else if ((date.getDay() == 6)){\n        if (date.getTime() != MatinV.getTime())context.set('Equipe', 'Nuit');\n        if(date.getTime()==MatinV.getTime() ){\n            return 'Nuit'\n        }else return false;\n    }\n}\n\nif(global.get('TotauxP') === undefined){\n    var init = [0,0,0];\n    global.set('TotauxP', init);\n}\n\nif(global.get('TotauxR')===undefined){\n    var p = [0,0,0];\n    global.set('TotauxR', p);\n}\n\nfunction subTime(time1, time2){\n    var h3;\n    var m3;\n    var s3;\n    if(h3 === undefined) h3 = 0;\n    if(m3 === undefined) h3 = 0;\n    if(s3 === undefined) h3 = 0;\n    \n    var h1 = time1.getHours();\n    var m1 = time1.getMinutes();\n    var s1 = time1.getSeconds();\n    var h2 = time2.getHours();\n    var m2 = time2.getMinutes();\n    var s2 = time2.getSeconds();\n    \n    if(time2.getDate() < time1.getDate()){\n        h3 = h2-h1;\n        h3 = 24 -h3;\n        m3 = m2-m1;\n        m3 = 60-m3;\n        s3 = s2-s1;\n        s3 = 60-s3;\n    }else{\n        h3 = h1-h2;\n        m3 = m1-m2;\n        s3 = s1-s2;\n    }\n    \n    if(s3 < 0){\n        m3--;\n        s3 += 60;\n    }\n    if(m3 < 0){\n        h3--;\n        m3 += 60;\n    }\n    \n    var DureeR  = (h3*60) + m3;\n    return DureeR;\n    \n}\n\nfunction addTimer(time1,time2){\n    var time3 = [];\n    for(z = 0; z < 3; z++){\n        time3[z] = time1[z] + time2[z];\n        if(z > 0){\n            while(time3[z] >= 60){\n                time3[z-1] += 1;\n                time3[z] -= 60;\n            }\n        }\n    }\n    return time3;\n}\n\nif(context.get('values') === undefined){\n    context.set('values', value);\n    trigger = context.get('values');\n    node.warn('Init :'+trigger.recette);\n}\n\n/*********************************************************************************************/\n/*********************************************************************************************/\n/*********************************************************************************************/\n/*********************************************************************************************/\n\nfunction trs(plis, temps){\n    var T = plis/(25*temps);\n    return T;\n}\n\nif (trigger.recette == value.recette){\n    context.set('values', value);\n    context.set('recette', value.recette);\n    if(global.get('ok') !== true || global.get('Start')===undefined){\n        global.set('ok', true);\n        global.set('Start', date);\n        node.warn('Start '+global.get('Start'));\n    }\n    moment();\n}else if(value.recette != context.get('recette')){\n    valreturn = context.get(\"values\");\n    defTimeR = global.get('TotauxR')||[];\n    ArretTotaux = global.get('TotauxP')||[];\n    global.set('TotauxP', addTimer(defTimeR,ArretTotaux));\n    //if(defTime[0] < 9 )defTime[0] = \"0\"+defTime[0];\n    if(defTimeR[1] <= 9 )defTimeR[1] = \"0\"+defTimeR[1];\n    if(defTimeR[2] <= 9 )defTimeR[2] = \"0\"+defTimeR[2];\n    var Sr = defTimeR[0]+\":\"+defTimeR[1]+\":\"+defTimeR[2];\n    placage = valreturn.panneau*valreturn.nbplis\n    global.set('Placage', placage);\n    global.set('Volume', valreturn.volume);\n    global.set('Panneau', valreturn.panneau);\n    Start = global.get('Start');\n    Temps = subTime(date,Start);\n    node.warn('TEMPS :'+Temps);\n    node.warn('Recette Placage '+placage+'//'+global.get('TotauxP')+'//'+Sr);\n    TRS = trs(placage,Temps);\n    var QueryR = \"INSERT INTO shift(Equipe ,Heure, Recette, Placage, Panneau, Stack, Volume, Rebuts, Duree, TRS) VALUES ('\"+context.get('Equipe')+\"','\"+date.toISOString()+\"','\"+valreturn.recette+\"','\"+placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+Number.parseFloat(valreturn.volume).toFixed(3)+\"','\"+valreturn.rebuts+\"','\"+Sr+\"','\"+TRS+\"');\";\n    msg.topic = QueryR;\n    node.warn(\"RECETTE: \"+QueryR+'::'+valreturn.nbplis);\n    context.set('values', value);\n    global.set('ok', false);\n    global.set('TotauxR', undefined);\n    context.set('recette', valreturn.recette);\n    return msg;\n}\n    ","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["292bb6cb.4906ba"]]},{"id":"47f7cebb.cef6c","type":"function","z":"a3dce6f3.a40508","name":"convert total","func":"var value = msg.payload;\nvar Query;\nvar valreturn;\nvar date = new Date();\nvar Matin = new Date();\nMatin.setHours(14,30);\nvar Aprem = new Date();\nAprem.setHours(15,0);\nvar Nuit = new Date();\nNuit.setHours(15,30);\nvar NuitV = new Date();\nNuitV.setHours(20,0);\nvar MatinV = new Date();\nMatinV.setHours(3,0);\n\nfunction moment(){\n    if((date.getDay() < 5) && (date.getDay() > 0)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){ \n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==Nuit.getTime() ){\n            return 'Aprem';\n        }else return false;\n    }else if ((date.getDay() == 5)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){\n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==NuitV.getTime() ){\n            return 'Aprem'\n        }else return false;\n    }else if ((date.getDay() == 6)){\n        if (date.getTime() != MatinV.getTime())context.set('Equipe', 'Nuit');\n        if(date.getTime()==MatinV.getTime() ){\n            return 'Nuit'\n        }else return false;\n    }\n}\n\nif(global.get('TotauxP')===undefined){\n    var p = [0,0,0];\n    global.set('TotauxP', p);\n}\n\nfunction TRS(time1, Nbplis){\n    var TRS = (Nbplis)/(25*time1);\n    return TRS;\n}\n\nfunction subTime(time1, time2){\n    var h3;\n    var m3;\n    var s3;\n    if(h3 === undefined) h3 = 0;\n    if(m3 === undefined) h3 = 0;\n    if(s3 === undefined) h3 = 0;\n    \n    var h1 = time1.getHours();\n    var m1 = time1.getMinutes();\n    var s1 = time1.getSeconds();\n    var h2 = time2.getHours();\n    var m2 = time2.getMinutes();\n    var s2 = time2.getSeconds();\n    \n    if(time2.getDate() < time1.getDate()){\n        h3 = h2-h1;\n        h3 = 24 -h3;\n        m3 = m2-m1;\n        m3 = 60-m3;\n        s3 = s2-s1;\n        s3 = 60-s3;\n    }else{\n        h3 = h1-h2;\n        m3 = m1-m2;\n        s3 = s1-s2;\n    }\n    \n    if(s3 < 0){\n        m3--;\n        s3 += 60;\n    }\n    if(m3 < 0){\n        h3--;\n        m3 += 60;\n    }\n    \n    var DureeR  = h3*60 + m3;\n    return DureeR;\n    \n}\n\nfunction addTimer(time1,time2){\n    var time3 = [];\n    for(z = 0; z < 3; z++){\n        time3[z] = time1[z] + time2[z];\n        if(z > 0){\n            while(time3[z] >= 60){\n                time3[z-1] += 1;\n                time3[z] -= 60;\n            }\n        }\n    }\n    return time3;\n}\n\nif (context.get('values')===undefined && value != 'tic'){\n    context.set('values', value);\n}\n\nif (((moment() == \"Matin\") || (moment() == \"Aprem\") || (moment() == \"Nuit\")) && (context.get('oke') !== true)){\n    context.set('oke', true);\n    valreturn = context.get(\"values\");\n    var defTimeR = global.get(\"TotauxR\")||[];\n    var ArretTotaux = global.get('TotauxP')||[];\n    var time = addTimer(defTimeR,ArretTotaux);\n    global.set('TotauxP',time);\n    var placage = valreturn.panneau*valreturn.nbplis\n    global.set('Placage', placage);\n    global.set('Volume', valreturn.volume);\n    global.set('Panneau', valreturn.panneau);\n    global.set('TotauxP', addTimer(defTimeR,ArretTotaux));\n    if(defTimeR[1] <= 9 )defTimeR[1] = \"0\"+defTimeR[1];\n    if(defTimeR[2] <= 9 )defTimeR[2] = \"0\"+defTimeR[2];\n    var Sp = defTimeR[0]+\":\"+defTimeR[1]+\":\"+defTimeR[2];\n    var Start = global.get('Start');\n    var Temps = subTime(date,Start);\n    node.warn('TEMPS :'+Temps);\n    node.warn('Total Placage '+placage+'//'+global.get('TotauxR')+'//'+Sp);\n    Query = \"INSERT INTO shift(Equipe ,Heure, Recette, Placage, Panneau, Stack, Volume, Rebuts, Duree, TRS) VALUES ('\"+context.get('Equipe')+\"','\"+date.toISOString()+\"','\"+valreturn.recette+\"','\"+placage+\"','\"+valreturn.panneau+\"','\"+valreturn.pile+\"','\"+Number.parseFloat(valreturn.volume).toFixed(3)+\"','\"+valreturn.rebuts+\"','\"+Sp+\"','\"+TRS(placage,Temps)+\"');\";\n    msg.topic = Query;\n    node.warn(\"TOTAL :\"+Query);\n    context.set('values', value);\n    global.set('ok', false);\n    global.set('TotauxR', undefined);\n    context.set('oke', true);\n    return msg;\n}else if ((date.getTime() == (Matin.getTime()+60*1000) || date.getTime() == (Aprem.getTime()+60*1000) || date.getTime() == (Nuit.getTime()+60*1000)) && context.get('ok') === true){\n    context.set('oke', false);\n    node.warn('date'+ context.get('ok'));\n}else if (moment() === false){\n    if (value != 'tic') context.set('values',value);\n    context.set('oke', false);\n}\n","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["292bb6cb.4906ba"]]},{"id":"2b2572d3.ec609e","type":"function","z":"a3dce6f3.a40508","name":"Totaux Prod","func":"var tabDef=[\"Porte securite IG1.3 Zone 1\",\"Porte securite IG2.2 Zone 1-2\",\"Porte securite IG3.1 Zone 3\",\"Porte securite IG3.2 Zone 3\",\"Porte securite IG3.3 Zone 3-5\",\"Lumiere 710M1 Panier 1\",\"Lumiere 719M1 Panier 3\",\"Lumiere Panier 1-3\",\n\"Lumiere milieu ligne Droite Zone 2\",\"Protection levé Panier 1\",\"Protection levé Panier 2\",\"Protection levé Panier 3\",\"Protection levé Panier 4\",\"Protection levé Panier 5\",\"Pression hydraulique basse\",\"Lumiere 716M1 Panier 2\",\"Lumiere 721M1 Panier 4\",\"Lumiere Panier 2-4\",\"Lumiere entre Zone 1-2\",\n\"Lumiere millieu ligne Gauche Zone 2\",\"Porte IG1.1 Zone 1-2\",\"Porte IG1.2 Zone 1-2\",\"Porte IG2.1 Gauche Zone 1-2\",'Lumiere 723M1 Panier 5',\"Porte IG1.4 Zone 1\",\"Protection levé Panier 5 Zone 3\",\"Protection levé Panier 5 Zone 5\",\"Lumiere 777M1 plaque inferieure interieure Zone 3\",\"Lumiere 777M1 plaque inferieure exterieure Zone 3\",\n\"Lumiere 779M1 Rouleau convoyeur interieur Zone 3\",\"Lumiere 779M1 Rouleau convoyeur exterieur Zone 3\",\"Lumiere 780M1 Pile ejection interieur Zone 3-5\",\"Lumiere 780M1 Pile ejection exterieur \",\"Porte IG5.1 Zone 3-5\",\"Arret d urgence 763CP\",\"Arret d urgence 723CP\",\"Arret d urgence 2ES1A\",\"Arret d urgence 2ES2A\",\"Arret d urgence 2ES2B\",\n\"Arret d urgence 2ES2C\",\"Arret d urgence 2ES3B\",\"Arret d urgence PLC Securite\",\"Lavage\",\"Pause\",\"Pause pedale droite\",\"Pause pedale gauche\", \"Pause avant colle\", \"Pause apres colle\"];\nvar payload = msg.payload;\nvar topic = String(msg.topic);\nvar recette;\nvar tabEtat = [];\nvar tabStart = [];\nvar tabEnd = [];\nvar tabDureeR = [];\nvar tabDureeP = [];\ntabDureeR = context.get('DureeR');\ntabDureeP = context.get('DureeP');\nvar tabFreqR = [];\ntabFreqR = context.get('FreqR');\nvar tabFreqP = [];\ntabFreqP = context.get('FreqP');\nvar Start;\nvar QueryR = [];\nvar QueryP = [];\nvar time;\nvar End;\nvar StimeDef;\nvar date = new Date();\nvar TotauxR = [];\nvar TotauxP = [];\nvar e = 0;\nvar r = 0;\nvar SQLp = [];\nvar SQLr = [];\nvar Sp;\nvar Sr;\nvar Matin = new Date();\nMatin.setHours(14,30);\nvar Aprem = new Date();\nAprem.setHours(15,0);\nvar Nuit = new Date();\nNuit.setHours(15,30);\nvar NuitV = new Date();\nNuitV.setHours(20,0);\nvar MatinV = new Date();\nMatinV.setHours(3,0);\n\nfunction moment(){\n    if((date.getDay() < 5) && (date.getDay() > 0)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){ \n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==Nuit.getTime() ){\n            return 'Aprem';\n        }else return false;\n    }else if ((date.getDay() == 5)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){\n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==NuitV.getTime() ){\n            return 'Aprem'\n        }else return false;\n    }else if ((date.getDay() == 6)){\n        if (date.getTime() != MatinV.getTime())context.set('Equipe', 'Nuit');\n        if(date.getTime()==MatinV.getTime() ){\n            return 'Nuit'\n        }else return false;\n    }\n}\n\nif((topic == \"recette\") && (context.get('recette') === undefined)){\n    recette = payload;\n    context.set('recette', recette);\n}\n\nfunction initTab(){\n    var tabD = [];\n    for (i = 0; i < tabDef.length; i++){\n        tabD[i] = [0,0,0];\n    }\n    return tabD\n}\n\nfunction addTimer(time1,time2){\n    var time3 = [];\n    for(z = 0; z < 3; z++){\n        time3[z] = time1[z] + time2[z];\n        if(z > 0){\n            while(time3[z] >= 60){\n                time3[z-1] += 1;\n                time3[z] -= 60;\n            }\n        }\n    }\n    return time3;\n}\n\nfunction subTime(time1, time2){\n    var h3;\n    var m3;\n    var s3;\n    if(h3 === undefined) h3 = 0;\n    if(m3 === undefined) h3 = 0;\n    if(s3 === undefined) h3 = 0;\n    \n    var h1 = time1.getHours();\n    var m1 = time1.getMinutes();\n    var s1 = time1.getSeconds();\n    var h2 = time2.getHours();\n    var m2 = time2.getMinutes();\n    var s2 = time2.getSeconds();\n    \n    if(time2.getDate() < time1.getDate()){\n        h3 = h2-h1;\n        h3 = 24 -h3;\n        m3 = m2-m1;\n        m3 = 60-m3;\n        s3 = s2-s1;\n        s3 = 60-s3;\n    }else{\n        h3 = h1-h2;\n        m3 = m1-m2;\n        s3 = s1-s2;\n    }\n    \n    if(s3 < 0){\n        m3--;\n        s3 += 60;\n    }\n    if(m3 < 0){\n        h3--;\n        m3 += 60;\n    }\n    \n    var DureeR  = [h3,m3,s3];\n    return DureeR;\n    \n}\n\nif(tabDureeR === undefined){\n    tabDureeR = initTab();\n    context.set(\"DureeR\", tabDureeR);\n}\n\nif(tabDureeP === undefined){\n    tabDureeP = initTab();\n    context.set(\"DureeP\", tabDureeP);\n}\n\nif (tabFreqR === undefined){\n    var tat = [];\n    for(t = 0; t < tabDef.length; t++){\n        tat[t] = 0;\n    }\n    tabFreqR = tat;\n    context.set('FreqR', tabFreqR);\n}\n\nif (tabFreqP === undefined){\n    var tate = [];\n    for(t = 0; t < tabDef.length; t++){\n        tate[t] = 0;\n    }\n    tabFreqP = tate;\n    context.set('FreqP', tabFreqP);\n}\n\nif((global.get('TotauxR') === undefined)){\n    TotauxR = [0,0,0];\n    global.set('TotauxR', TotauxR);\n}\n\nfor(i = 0 ; i < tabDef.length ; i++){\n    if((tabDef[i]==topic) && (payload === true) && (payload !== tabEtat[i])){\n        tabEtat = context.get(\"Etat\")||[];\n        tabEtat[i] = true;\n        context.set(\"Etat\", tabEtat);\n        \n        time = new Date();\n        tabStart = context.get(\"Start\")||[];\n        tabStart[i] = time;\n        context.set(\"Start\", tabStart);\n    }else if((tabDef[i]==topic) && (payload === false) && (payload !== tabEtat[i])){\n        tabEtat = context.get(\"Etat\")||[];\n        tabEtat[i] = false;\n        context.set(\"Etat\",tabEtat[i]);\n        End = new Date();\n        \n        tabEnd = context.get(\"End\")||[];\n        tabEnd[i] = End;\n        context.set(\"End\", tabEnd);\n        Start = context.get('Start')||[];\n        \n        tabFreqR = context.get('FreqR')||[];\n        tabFreqR[i] = tabFreqR[i]+1\n        context.set('FreqR', tabFreqR);\n        \n        tabFreqP = context.get('FreqP')||[];\n        tabFreqP[i] = tabFreqP[i]+1\n        context.set('FreqP', tabFreqP);\n        \n        tabDureeR = context.get('DureeR')||[];\n        var tabR = subTime(End,Start[i]);\n        tabDureeR[i] = addTimer(tabDureeR[i],tabR);\n        context.set('DureeR', tabDureeR);\n        \n        TotauxR = global.get('TotauxR');\n        TotauxR = addTimer(TotauxR, tabR);\n        global.set('TotauxR', TotauxR);\n        \n        /*tabDureeP = context.get('DureeP')||[];\n        var tabP = subTime(End,Start[i]);\n        tabDureeP[i] = addTimer(tabDureeP[i],tabP);\n        context.set('DureeP', tabDureeP);*/\n        \n    }\n}\n\nmoment();\n\nif((topic == \"recette\") && (context.get('recette') != payload)){\n    tabFreqR = context.get('FreqR')||[];\n    tabDureeR = context.get('DureeR')||[];\n    for(y = 0; y < tabDef.length; y++){\n        var defTimeR = tabDureeR[y];\n        //if(defTime[0] < 9 )defTime[0] = \"0\"+defTime[0];\n        if(defTimeR[1] <= 9 )defTimeR[1] = \"0\"+defTimeR[1];\n        if(defTimeR[2] <= 9 )defTimeR[2] = \"0\"+defTimeR[2];\n        Sr = defTimeR[0]+\":\"+defTimeR[1]+\":\"+defTimeR[2];\n        if(tabFreqR[y] > 1){\n            QueryR[e] = \"INSERT INTO DureeRArret(Equipe, Heure, Recette, Nom, FreqR, DureeR) VALUES ('\"+context.get('Equipe')+\"','\"+date.toISOString()+\"','\"+context.get('recette')+\"','\"+tabDef[y]+\"','\"+tabFreqR[y]+\"','\"+Sr+\"');\";\n            e++;\n        }\n    }\n    for(p = 0; p < QueryR.length; p++){\n        SQLr = SQLr+QueryR[p];\n    }\n    context.set('recette', payload);\n    context.set('FreqR', undefined);\n    context.set('DureeR', undefined);\n    if(SQLr.length !== 0){\n        //node.warn('RECETTE');\n        msg.topic = SQLr\n        return msg;\n    }\n}\n\nif(moment() !== false && (context.get('ok') !== true)){\n    tabFreqR = context.get('FreqR')||[];\n    tabDureeR = context.get('DureeR')||[];\n    for(y = 0; y < tabDef.length; y++){\n        var defTimeP = tabDureeR[y];\n        //if(defTime[0] < 9 )defTime[0] = \"0\"+defTime[0];\n        if(defTimeP[1] <= 9 )defTimeP[1] = \"0\"+defTimeP[1];\n        if(defTimeP[2] <= 9 )defTimeP[2] = \"0\"+defTimeP[2];\n        Sr = defTimeP[0]+\":\"+defTimeP[1]+\":\"+defTimeP[2];\n        if(tabFreqR[y] > 1){\n            QueryR[e] = \"INSERT INTO DureeRArret(Equipe, Heure, Recette, Nom, FreqR, DureeR) VALUES ('\"+context.get('Equipe')+\"','\"+date.toISOString()+\"','\"+context.get('recette')+\"','\"+tabDef[y]+\"','\"+tabFreqR[y]+\"','\"+Sr+\"');\";\n            e++;\n        }\n    }\n    for(p = 0; p < QueryR.length; p++){\n        SQLr = SQLr+QueryR[p];\n    }\n    context.set('recette', payload);\n    context.set('FreqR', undefined);\n    context.set('DureeR', undefined);\n    if(SQLr.length !== 0){\n        node.warn('Equipe');\n        msg.topic = SQLr\n        return msg;\n    }\n}else if(moment() === false){\n    context.set('ok', false);\n}","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["292bb6cb.4906ba"]]},{"id":"14f112f1.3240dd","type":"inject","z":"a3dce6f3.a40508","name":"tic","topic":"tic","payload":"tic","payloadType":"str","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":410,"y":80,"wires":[["862c7574.69e8f8"]]},{"id":"862c7574.69e8f8","type":"function","z":"a3dce6f3.a40508","name":"prod","func":"var payload = msg.payload;\nvar topic = msg.topic;\nvar placage;\nvar panneau;\nvar volume;\nvar date = new Date();\nvar Matin = new Date();\nMatin.setHours(14,31);\nvar Aprem = new Date();\nAprem.setHours(15,1);\nvar Nuit = new Date();\nNuit.setHours(15,31);\nvar NuitV = new Date();\nNuitV.setHours(20,0);\nvar MatinV = new Date();\nMatinV.setHours(3,0);\n\n\nif(context.get('placage')===undefined){\n    context.set('placage',0);\n}\nif(context.get('volume')===undefined){\n    context.set('volume',0);\n}\nif(context.get('panneau')===undefined){\n    context.set('panneau',0);\n}\n\nfunction moment(){\n    if((date.getDay() < 5) && (date.getDay() > 0)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){ \n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==Nuit.getTime() ){\n            return 'Aprem';\n        }else return false;\n    }else if ((date.getDay() == 5)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){\n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==NuitV.getTime() ){\n            return 'Aprem'\n        }else return false;\n    }else if ((date.getDay() == 6)){\n        if (date.getTime() != MatinV.getTime())context.set('Equipe', 'Nuit');\n        if(date.getTime()==MatinV.getTime() ){\n            return 'Nuit'\n        }else return false;\n    }\n}\n\nif((topic == \"recette\") && (context.get('recette') === undefined)){\n    recette = payload;\n    context.set('recette', recette);\n}\n\nif(topic == \"recette\" && moment() === false && context.get('recette') !== payload){\n    placage = global.get('Placage');\n    panneau = global.get('Panneau');\n    volume = global.get('Volume');\n    \n    placage = placage + context.get('placage');\n    panneau = panneau + context.get('panneau');\n    volume = volume + context.get('volume');\n    \n    context.set('placage', placage);\n    context.set('panneau', panneau);\n    context.set('volume', volume);\n    \n    context.set('ok', false);\n}else if (moment() !== false && context.get('ok') !== true && payload == 'tic'){\n    context.set('ok', true);\n    \n    placage = global.get('Placage');\n    panneau = global.get('Panneau');\n    volume = global.get('Volume');\n    \n    placage = placage + context.get('placage');\n    panneau = panneau + context.get('panneau');\n    volume = volume + context.get('volume');\n    \n    context.set('placage', placage);\n    context.set('panneau', panneau);\n    context.set('volume', volume);\n    \n    if(date.getDay() != 6){\n        TRS = placage/(25*(8*60));\n    }else TRS = placage/(25*(6*60));\n    \n    var defTimeR = global.get('TotauxP')||[];\n    if(defTimeR[1] <= 9 )defTimeR[1] = \"0\"+defTimeR[1];\n    if(defTimeR[2] <= 9 )defTimeR[2] = \"0\"+defTimeR[2];\n    Sp = defTimeR[0]+\":\"+defTimeR[1]+\":\"+defTimeR[2];\n    \n    var Query = \"INSERT INTO Production(Equipe, Date, Panneau, Volume, Duree, TRS) VALUES ('\"+moment()+\"','\"+date.getDate()+\"/\"+date.getMonth()+\"/\"+date.getFullYear()+\"','\"+context.get('panneau')+\"','\"+Number.parseFloat(context.get('volume')).toFixed(3)+\"','\"+Sp+\"','\"+TRS+\"');\";\n    msg.topic = Query;\n    context.set('placage', undefined);\n    context.set('panneau', undefined);\n    context.set('volume', undefined);\n    global.set('TotauxP', undefined);\n    return msg;\n}else if(moment()===false){\n    context.set('ok', false);\n}","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["292bb6cb.4906ba"]]},{"id":"14e8c10d.56f6bf","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"","payload":"tic","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":410,"y":40,"wires":[["47f7cebb.cef6c","2b2572d3.ec609e"]]},{"id":"aa32c672.424408","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"recette","payload":"15 mm (9 plis)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":40,"wires":[["d4ce5ad4.533778","2b2572d3.ec609e","862c7574.69e8f8"]]},{"id":"d4ce5ad4.533778","type":"function","z":"a3dce6f3.a40508","name":"","func":"var does = msg.payload;\nvar topic = msg.topic;\nvar r;\nvar p;\nvar min = 20;\nvar max = 500;\nvar min_pile = 5;\nvar max_pile = 20;\nvar max_rebut = 50;\nvar min_rebut = 0;\nvar payload;\nvar panneau = context.get('panneau');\nvar pile = context.get('pile');\n\nvar date = new Date();\nvar Matin = new Date();\nMatin.setHours(14,31);\nvar Aprem = new Date();\nAprem.setHours(15,1);\nvar Nuit = new Date();\nNuit.setHours(15,31);\nvar NuitV = new Date();\nNuitV.setHours(20,0);\nvar MatinV = new Date();\nMatinV.setHours(3,0);\n\nfunction moment(){\n    if((date.getDay() < 5) && (date.getDay() > 0)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != Nuit.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){ \n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==Nuit.getTime() ){\n            return 'Aprem';\n        }else return false;\n    }else if ((date.getDay() == 5)){\n        if (date.getTime() != Aprem.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Nuit');\n        if (date.getTime() != Matin.getTime() || date.getTime() != NuitV.getTime())context.set('Equipe', 'Matin');\n        if (date.getTime() != Aprem.getTime() || date.getTime() != Matin.getTime())context.set('Equipe', 'Aprem');\n        if(date.getTime()==Matin.getTime() ){\n            return 'Nuit';\n        }else if(date.getTime()==Aprem.getTime() ){\n            return 'Matin';\n        }else if(date.getTime()==NuitV.getTime() ){\n            return 'Aprem'\n        }else return false;\n    }else if ((date.getDay() == 6)){\n        if (date.getTime() != MatinV.getTime())context.set('Equipe', 'Nuit');\n        if(date.getTime()==MatinV.getTime() ){\n            return 'Nuit'\n        }else return false;\n    }\n}\n\nif (context.get('panneau') === undefined){\n    context.set('panneau', 0);\n}else if (context.get('pile') === undefined) context.set('pile', 0)\n\nif (does == '15 mm (9 plis)' || does == '9 mm (5 plis)' || does == '6 mm (3 plis)' && does !== true && does !== false && does != 'tic'){\n    r = does;\n    context.set('recette', r);\n}\n\nif (does == '15 mm (9 plis)' && does !== true && does !== false && does != 'tic'){\n    p = 9;\n    context.set('plis', p);\n}else if(does == '9 mm (5 plis)' && does !== true && does !== false && does != 'tic'){\n    p = 5;\n    context.set('plis', p);\n}else if (does == '6 mm (3 plis)' && does !== true && does !== false && does != 'tic'){\n    p = 3;\n    context.set('plis', p);\n}\n\nif(topic === 'tic'){\n    panneau +=1;\n    context.set('panneau', panneau);\n}\n\nif(context.get('panneau')/context.get('plis') >= 1){\n    pile = context.get('panneau')/context.get('plis');\n    context.set('pile',pile);\n}\n\nif(topic === 'tic'){\n    payload = {\n        recette: context.get('recette'),\n        nbplis: context.get('plis'),\n        panneau: context.get('panneau'),\n        volume: Math.random() * (+max - +min)  +min,\n        pile: context.get('pile'),\n        rebuts: Math.floor(Math.random() * (+max_rebut - +min_rebut)) +min_rebut,\n    }\n    msg.payload = payload;\n    return msg\n}else if (topic == 'recette' && (does == '15 mm (9 plis)' || does == '9 mm (5 plis)' || does == '6 mm (3 plis)')){\n    if(does == '15 mm (9 plis)'){\n        context.get('panneau', 0);\n        context.get('pile', 0);\n        payload = {\n            nbplis: context.set('plis', p),\n            recette: context.get('recette'),\n            panneau: 0,\n            volume: 0,\n            pile: 0,\n            rebuts: 0,\n        }\n    }else if(does == '9 mm (5 plis)'){\n        context.get('panneau', 0);\n        context.get('pile', 0);\n        payload = {\n            nbplis:context.set('plis', p),\n            recette: context.get('recette'),\n            panneau: 0,\n            volume: 0,\n            pile: 0,\n            rebuts: 0,\n        }\n    }else if(does == '6 mm (3 plis)'){\n        context.get('panneau', 0);\n        context.get('pile', 0);\n        payload = {\n            nbplis: context.set('plis', p),\n            recette: context.get('recette'),\n            panneau: 0,\n            volume: 0,\n            pile: 0,\n            rebuts: 0,\n        }\n    }\n    msg.payload = payload;\n    return msg\n}else if (((moment() == \"Matin\") || (moment() == \"Aprem\") || (moment() == \"Nuit\")) && (context.get('oke') !== true)){\n    context.set('oke', true);\n    context.get('panneau', 0);\n    context.get('pile', 0);\n    payload = {\n        nbplis: context.set('plis', p),\n        recette: context.get('recette'),\n        panneau: 0,\n        volume: 0,\n        pile: 0,\n        rebuts: 0,\n    }\n    msg.payload = payload;\n    return msg\n}else if ((date.getTime() == (Matin.getTime()+60*1000) || date.getTime() == (Aprem.getTime()+60*1000) || date.getTime() == (Nuit.getTime()+60*1000)) && context.get('ok') === true){\n    context.set('oke', false);\n}else if (moment() === false){\n    context.set('oke', false);\n}\n    ","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["5595e20.fb9c91c","47f7cebb.cef6c"]]},{"id":"33b16a9b.67e176","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"do","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["4fd0d37d.de659c"]]},{"id":"c2f6da4b.503c88","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"do","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["d4ce5ad4.533778"]]},{"id":"4fd0d37d.de659c","type":"function","z":"a3dce6f3.a40508","name":"","func":"var tabDef=[\"Porte securite IG1.3 Zone 1\",\"Porte securite IG2.2 Zone 1-2\",\"Porte securite IG3.1 Zone 3\",\"Porte securite IG3.2 Zone 3\",\"Porte securite IG3.3 Zone 3-5\",\"Lumiere 710M1 Panier 1\",\"Lumiere 719M1 Panier 3\",\"Lumiere Panier 1-3\",\n\"Lumiere milieu ligne Droite Zone 2\",\"Protection levé Panier 1\",\"Protection levé Panier 2\",\"Protection levé Panier 3\",\"Protection levé Panier 4\",\"Protection levé Panier 5\",\"Pression hydraulique basse\",\"Lumiere 716M1 Panier 2\",\"Lumiere 721M1 Panier 4\",\"Lumiere Panier 2-4\",\"Lumiere entre Zone 1-2\",\n\"Lumiere millieu ligne Gauche Zone 2\",\"Porte IG1.1 Zone 1-2\",\"Porte IG1.2 Zone 1-2\",\"Porte IG2.1 Gauche Zone 1-2\",'Lumiere 723M1 Panier 5',\"Porte IG1.4 Zone 1\",\"Protection levé Panier 5 Zone 3\",\"Protection levé Panier 5 Zone 5\",\"Lumiere 777M1 plaque inferieure interieure Zone 3\",\"Lumiere 777M1 plaque inferieure exterieure Zone 3\",\n\"Lumiere 779M1 Rouleau convoyeur interieur Zone 3\",\"Lumiere 779M1 Rouleau convoyeur exterieur Zone 3\",\"Lumiere 780M1 Pile ejection interieur Zone 3-5\",\"Lumiere 780M1 Pile ejection exterieur \",\"Porte IG5.1 Zone 3-5\",\"Arret d'urgence 763CP\",\"Arret d'urgence 723CP\",\"Arret d'urgence 2ES1A\",\"Arret d'urgence 2ES2A\",\"Arret d'urgence 2ES2B\",\n\"Arret d'urgence 2ES2C\",\"Arret d'urgence 2ES3B\",\"Arret d'urgence PLC Securite\",\"Lavage\",\"Pause\",\"Pause pedale droite\",\"Pause pedale gauche\", \"Pause avant colle\", \"Pause apres colle\"];\nvar topic;\nvar payload;\nvar min = 0;\nvar max = tabDef.length;\nvar does = msg.payload;\n\nif(does === true){\n    topic = tabDef[Math.floor(Math.random() * (+max - +min)) +min];\n    payload = true;\n    msg.payload = payload;\n    msg.topic = topic;\n    return msg\n}else if (does === false){\n    topic = tabDef[Math.floor(Math.random() * (+max - +min)) +min];\n    payload = false;\n    msg.payload = payload;\n    msg.topic = topic;\n    return msg\n}","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["2b2572d3.ec609e"]]},{"id":"f8d7baeb.eb12f8","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"recette","payload":"9 mm (5 plis)","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["d4ce5ad4.533778","2b2572d3.ec609e","862c7574.69e8f8"]]},{"id":"515461cd.55536","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"recette","payload":"6 mm (3 plis)","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["2b2572d3.ec609e","d4ce5ad4.533778","862c7574.69e8f8"]]},{"id":"4bb2d9c5.16f988","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"do","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["d4ce5ad4.533778"]]},{"id":"f4e1f1dc.19a77","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"do","payload":"false","payloadType":"bool","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["4fd0d37d.de659c"]]},{"id":"b8f3780f.872b88","type":"inject","z":"a3dce6f3.a40508","name":"","topic":"tic","payload":"0","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["d4ce5ad4.533778"]]},{"id":"292bb6cb.4906ba","type":"mysql","z":"a3dce6f3.a40508","mydb":"85d96f.6664a69","name":"","x":780,"y":140,"wires":[[]]},{"id":"85d96f.6664a69","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"lea_rolpin","tz":""}]